<!-- Delete Confirmation Modal -->
<div class="modal fade" id="duplicate-review" tabindex="-1" role="dialog" aria-labelledby="duplicate-review-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Duplicate Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          It looks like you've already submitted a review for this class! If you would like, you can go to your
          original review to edit it as you see fit.
          <div class="row justify-content-center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>
