{% extends "base/base.html" %}
{% load static %}

{% block title %}Write a Review - theCourseForum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/new_review.css' %}" />
{% endblock %}

{% block content %}
<div class="new-review container-fluid d-flex flex-column text-left mx-md-5 mx-sm-4">

    <h2 class="mt-2 mb-4">Write a review</h2>
    <div class="row">
    <div class="card col">

    <form class="card-body px-md-5" action="{% url 'new_review' %}" method="POST">
        {% csrf_token %}
        <!-- Class Info -->
        <div class="new-review-course form-row mb-3">
          <h4 class="review-form-header form-group col-12 my-4">
            Which class are you reviewing?</h4>
          <div class="form-group col-sm-3">
            <label for="subject" class="required-field">Subject</label>
            <select type="text" class="form-control" required id="subject" name="subject">
              <option value="NONE" disabled selected>Select...</option>
            </select>
          </div>
          <div class="form-group col-sm-9">
            <label for="courseID" class="required-field">Course</label>
            <select type="text" class="form-control" required id="courseID" name="courseID">
              <option value="NONE" disabled selected>Select...</option>
            </select>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="form-group col-sm-6">
            <label for="instructor" class="required-field">Instructor</label>
            <select type="text" class="form-control" required id="instructor" name="instructor">
              <option value="NONE" disabled selected>Select...</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label for="semester" class="required-field">Semester</label>
            <select type="text" class="form-control" required id="semester" name="semester">
              <option value="NONE" disabled selected>Select...</option>
            </select>
          </div>
        </div>
        <hr>

        <!-- Review written content -->
        <div class="new-review-content form-row mb-3">
          <h4 class="review-form-header form-group col-12 my-4">
            Tell us more about the course and instructor</h4>
          <div class="form-group col mb-3">
            <textarea class="form-control" id="reviewText" name="reviewText" rows="5"
                      placeholder="e.g. I love CS 2150, Bloomfield is great!"></textarea>
          </div>
        </div>
        <hr>

        <!-- Review ratings for course -->
        <div class="new-review-ratings form-row mb-3">
          <div class="form-group col-sm-6 pr-sm-5">
              <h4 class="review-form-header col-12 p-0 my-4">
                Rate the course</h4>
              <div class="mt-3">
                  <label for="instructorRating" class="required-field">
                    <i class="fas fa-user"></i> Instructor
                  </label>
                  <div class="d-flex">
                      <span class="mr-2">1</span>
                      <input type="range" class="custom-range" min="1" max="5" step="1"
                             value=3 id="instructorRating" name="instructorRating" required>
                      <span class="ml-2">5</span>
                  </div>
              </div>
              <div class="mt-3">
                  <label for="instructorRating" class="required-field">
                    <i class="far fa-smile-beam"></i> Enjoyability
                  </label>
                  <div class="d-flex">
                      <span class="mr-2">1</span>
                      <input type="range" class="custom-range" min="1" max="5" step="1"
                             value=3 id="enjoyability" name="enjoyability" required>
                      <span class="ml-2">5</span>
                  </div>
              </div>
              <div class="mt-3">
                  <label for="difficulty" class="required-field">
                    <i class="fas fa-dumbbell"></i> Difficulty
                  </label>
                  <div class="d-flex">
                      <span class="mr-2">1</span>
                      <input type="range" class="custom-range" min="1" max="5" step="1"
                             value=3 id="difficulty" name="difficulty" required>
                      <span class="ml-2">5</span>
                  </div>
              </div>
              <div class="mt-3">
                  <label for="recommendability" class="required-field">
                    <i class="fas fa-thumbs-up"></i> Recommendability
                  </label>
                  <div class="d-flex">
                      <span class="mr-2">1</span>
                      <input type="range" class="custom-range" min="1" max="5" step="1"
                             value=3 id="recommendability" name="recommendability" required>
                      <span class="ml-2">5</span>
                  </div>
              </div>
          </div>
          <div class="form-group col-sm-6 px-sm-4">
              <h4 class="review-form-header p-0 my-4">
                Hours of work/week</h4>
              <div class="row py-3">
                <label for="hoursReading" class="required-field col-8">
                  <i class="fas fa-book"></i> Reading
                </label>
                <input type="number" value=0 min="0" max="20" class="form-control col"
                       id="hoursReading" name="hoursReading" required>
              </div>
              <div class="row py-3">
                <label for="hoursWriting" class="required-field col-8">
                  <i class="fas fa-pencil-alt"></i> Writing
                </label>
                <input type="number" value=0 min="0" max="20" class="form-control col"
                       id="hoursWriting" name="hoursWriting" required>
              </div>
              <div class="row py-3">
                <label for="hoursGroupwork" class="required-field col-8">
                  <i class="fas fa-user-friends"></i> Groupwork
                </label>
                <input type="number" value=0 min="0" max="20" class="form-control col"
                       id="hoursGroupwork" name="hoursGroupwork" required>
              </div>
              <div class="row py-3">
                <label for="hoursOther" class="required-field col-8">
                  <i class="fas fa-flask"></i> Other
                </label>
                <input type="number" value=0 min="0" max="20" class="form-control col"
                       id="hoursOther" name="hoursOther" required>
              </div>
          </div>
        </div>
        <hr>
        <div class="new-review-submit row my-4">
          <button type="submit" class="btn btn-primary mx-auto">Submit Review</button>
        </div>
      </form>
    </div>
</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'reviews/review_form.js' %}"></script>
{% endblock %}
