{% extends "base/base.html" %}
{% load static %}

{% block title %}Write a Review - theCourseForum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/new_review.css' %}" />
{% endblock %}

{% block content %}
<div class="new-review container-fluid d-flex flex-column text-left">

    <h2 class="mt-2 mb-4">Write a review</h2>
    <div class="row">
    <div class="card col">

    <form class="card-body" action="{% url 'new_review' %}" method="POST">
        {% csrf_token %}
        <!-- Class Info -->
        <div class="new-review-course form-row mb-3">
          <h4 class="review-form-header form-group col-12 my-4">
            Which class are you reviewing?</h4>
          <div class="form-group col-sm-3 col-6">
            <label for="subject">Subject</label>
            <select type="text" class="form-control" id="subject" name="subject" required>
              <option value="" disabled selected>[Select]</option>
              <!-- {% for s in subjects %}
              <option value={{s}}>{{s}}</option>
              {% endfor %} -->
            </select>
          </div>
          <div class="form-group col-sm-3 col-6">
            <label for="courseID">Course ID</label>
            <select type="text" class="form-control" id="courseID" name="courseID" required>
              <option value="" disabled selected>[Select]</option>
              <!-- {% for c in courseIDs %}
              <option value={{c}}>{{c}}</option>
              {% endfor %} -->
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label for="instructor">Instructor</label>
            <select type="text" class="form-control" id="instructor" name="instructor" required>
              <option value="" disabled selected>[Select]</option>
              <!-- {% for i in instructors %}
              <option value={{i}}>{{i}}</option>
              {% endfor %} -->
            </select>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="form-group col-sm-3 col-6">
            <label for="semester">Semester</label>
            <select type="text" class="form-control" id="semester" name="semester" required>
              <option value="" disabled selected>[Select]</option>
              <option value="Fall">Fall</option>
              <option value="January">January</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
            </select>
          </div>
          <div class="form-group col-sm-3 col-6">
            <label for="year">Year</label>
            <select type="text" class="form-control" id="year" name="year" required>
              <option value="" disabled selected>[Select]</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
            </select>
          </div>
        </div>
        <hr>

        <!-- Review written content -->
        <div class="new-review-content form-row mb-3">
          <h4 class="review-form-header form-group col-12 my-4">
            Tell us more about the course and instructor</h4>
          <div class="form-group col mb-3">
            <textarea class="form-control" id="reviewText" name="reviewText" rows="5"
                      placeholder="e.g. I love CS 2150, Bloomfield is great!"></textarea>
          </div>
        </div>
        <hr>

        <!-- Review ratings for course -->
        <div class="new-review-ratings form-row mb-3">
          <div class="form-group col-sm-6 pr-sm-5">
              <h4 class="review-form-header col-12 p-0 my-4">
                Rate the course</h4>
              <div class="mt-3">
                  <label for="instructorRating" class="review-form-label">
                    <i class="fas fa-user"></i> Instructor
                  </label>
                  <div class="d-flex">
                      <span class="mr-2">1</span>
                      <input type="range" class="custom-range" min="1" max="5" step="1"
                             value=3 id="instructorRating" name="instructorRating" required>
                      <span class="ml-2">5</span>
                  </div>
              </div>
              <div class="mt-3">
                  <label for="instructorRating" class="review-form-label">
                    <i class="far fa-smile-beam"></i> Enjoyability
                  </label>
                  <div class="d-flex">
                      <span class="mr-2">1</span>
                      <input type="range" class="custom-range" min="1" max="5" step="1"
                             value=3 id="enjoyability" name="enjoyability" required>
                      <span class="ml-2">5</span>
                  </div>
              </div>
              <div class="mt-3">
                  <label for="difficulty" class="review-form-label">
                    <i class="fas fa-dumbbell"></i> Difficulty
                  </label>
                  <div class="d-flex">
                      <span class="mr-2">1</span>
                      <input type="range" class="custom-range" min="1" max="5" step="1"
                             value=3 id="difficulty" name="difficulty" required>
                      <span class="ml-2">5</span>
                  </div>
              </div>
              <div class="mt-3">
                  <label for="recommendability" class="review-form-label">
                    <i class="fas fa-thumbs-up"></i> Recommendability
                  </label>
                  <div class="d-flex">
                      <span class="mr-2">1</span>
                      <input type="range" class="custom-range" min="1" max="5" step="1"
                             value=3 id="recommendability" name="recommendability" required>
                      <span class="ml-2">5</span>
                  </div>
              </div>
          </div>
          <div class="form-group col-sm-6 px-sm-4">
              <h4 class="review-form-header p-0 mt-4">
                Hours of work/week</h4>
              <div class="row py-3">
                <label for="hoursReading" class="review-form-label col-8">
                  <i class="fas fa-book"></i> Reading
                </label>
                <input type="number" value=0 min="0" max="20" class="form-control col"
                       id="hoursReading" name="hoursReading" required>
              </div>
              <div class="row py-3">
                <label for="hoursWriting" class="review-form-label col-8">
                  <i class="fas fa-pencil-alt"></i> Writing
                </label>
                <input type="number" value=0 min="0" max="20" class="form-control col"
                       id="hoursWriting" name="hoursWriting" required>
              </div>
              <div class="row py-3">
                <label for="hoursGroupwork" class="review-form-label col-8">
                  <i class="fas fa-user-friends"></i> Groupwork
                </label>
                <input type="number" value=0 min="0" max="20" class="form-control col"
                       id="hoursGroupwork" name="hoursGroupwork" required>
              </div>
              <div class="row py-3">
                <label for="hoursOther" class="review-form-label col-8">
                  <i class="fas fa-flask"></i> Other
                </label>
                <input type="number" value=0 min="0" max="20" class="form-control col"
                       id="hoursOther" name="hoursOther" required>
              </div>
          </div>
        </div>
        <hr>
        <div class="new-review-submit row my-4">
          <button type="submit" class="btn btn-primary mx-auto">Submit Review</button>
        </div>
      </form>
    </div>
</div>
</div>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
