{% extends "base/base.html" %}
{% load static %}

{% block title %}Write a Review - theCourseForum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'reviews/new_review.css' %}" />
{% endblock %}

{% block content %}

<div class="new-review container text-left mx-auto">
  <h1 class="h2 mt-2 mb-4">Write a review</h1>
  <div class="card">
    <form class="card-body px-md-5" id="reviewForm" action="{% url 'new_review' %}" method="POST">
        {% csrf_token %}
        {% include 'reviews/review_form_content.html' %}
        {% include 'reviews/duplicate_review_modal.html' %}
        {% include 'reviews/zero_hours_modal.html' %}
        <div class="new-review-submit row py-4">
          <button type="submit" class="btn btn-primary mx-auto" id="submitBtn">Submit Review</button>
        </div>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'reviews/new_review.js' %}"></script>
<script type="text/javascript" src="{% static 'reviews/sync_review_sliders.js' %}"></script>
<script>
  // For Bootstrap tooltip
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  // Counter to keep track of number of times "zero-hours-review" modal is shown
  // Boolean to track whether "zero-hours-review" modal has already been shown or not
  // True if already shown, false if not
  var isZeroHoursReviewModalShown = false;
  $(document).ready(function () {
    // Stop normal submit to check for duplicate review with ajax request
    $("#reviewForm").submit(function(e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "/reviews/check_duplicate",
            data: $("#reviewForm").serialize(),
            async: false,
            success: function (check) {
                if(check.duplicate) {
                    $("#duplicate-review").modal();
                } else {
                    // Check if review has 0 total hours/week and warn user if it does
                    $.ajax({
                        type: "POST",
                        url: "/reviews/check_zero_hours_per_week",
                        data: $("#reviewForm").serialize(),
                        async: false,
                        success: function (check) {
                            // Only show "zero-hours-review" modal once
                            if(check.zero && !isZeroHoursReviewModalShown) {
                                $("#zero-hours-review").modal();
                                isZeroHoursReviewModalShown = true;
                            } else {
                                // Timeout button for 3 seconds so user can't spam button while form is submitting
                                $("#submitBtn").prop("disabled", true);
                                setTimeout(enableButton, 3000);
                                // $("#reviewForm") didn't work for some reason
                                // Not a duplicate review and the zero hours modal has been shown or wasn't
                                // necessary to show, so proceed with normal form submission for new review
                                document.getElementById("reviewForm").action = "{% url 'new_review' %}";
                                document.getElementById("reviewForm").submit();
                            }
                        }
                    });
                }
            }
        });
    });
  });

  // Re-enable button
  function enableButton() {
        $("#submitBtn").prop("disabled", false);
  }

</script>
{% endblock %}
