<!-- TODO: include review styles here -->

<div class="reviews container-lg">
    <ul class="review-list" style="list-style-type: none;">
    {% for r in reviews %}
        <li>
            {% include "reviews/review.html" with profile=profile review=r %}
        </li>
    {% empty %}
        <div class="row d-flex justify-content-center">
            <div class="card col-3 text-center">
                <div class="card-body">
                    <h4 class="card-title">
                        No Reviews <i class="far fa-frown-open fa-fw"></i>
                    </h4>
                    <p class="card-text">
                        Help us out by <a href="{% url 'new_review' %}" style="color: dodgerblue;">writing a review!</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </ul>
</div>
