<div class="large-stats-container container-lg">
    <div class="d-flex">
        <div class="col-xs-4 large-stats">
            <h3>Total Reviews Written</h3>
            <h1 class="large-stats-number">{{ total_reviews_written }}</h1>
        </div>
        <div class="col-xs-4 large-stats">
            <h3>Total Review Upvotes</h3>
            <h1 class="large-stats-number">{{ total_review_upvotes }}</h1>
        </div>
        <div class="col-xs-4 large-stats">
            <h3>Average Review Rating</h3>
            <h1 class="large-stats-number">{{ average_review_rating }}</h1>
        </div>
    </div>
</div>
