{% load static %}
<link rel="stylesheet" href="{% static 'reviews/review.css' %}" />

<div id="review{{review.id}}" class="review card mb-2">
    <div class="card-body text-left">
        <div class="row">
            <!-- Review Main Content -->
            <div class="review-body col-xs-12 col-md-12 col-lg-12">
                <!-- Review header content (subject, actions, text) -->
                {% if profile %}
                <!-- Subject and Edit/Delete actions show only on profile page -->
                <div class="review-header mb-2">
                    <div class="d-flex">
                        <div class="review-subject mr-auto">
                            {% if review.club %}
                            <a href="{% url 'course' mnemonic=review.club.category.slug course_number=review.club.id %}?mode=clubs">
                                <h5 class="text-tcf-orange">
                                    <strong>{{ review.club.name }}</strong>
                                </h5>
                            </a>
                            {% else %}
                            <a href="{% url 'course_instructor' course_id=review.course.pk instructor_id=review.instructor.pk %}">
                                <h5 class="text-tcf-orange">
                                    <strong>{{ review.course }}</strong> — {{ review.instructor.full_name }}
                                </h5>
                            </a>
                            {% endif %}
                        </div>
                        <div class="review-actions d-inline-flex">
                            <a class="review-edit h5 px-2 text-tcf-blue" href="{% url 'edit_review' review_id=review.id %}">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="review-delete h5 pl-2 text-danger" type="button"
                                    data-toggle="modal" data-target="#deleteReviewModal{{review.id}}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                            {% include "reviews/delete_confirm_modal.html" with review_id=review.id %}
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!-- Display reviewer's semester and updated date of review if on review page -->
                    <div class="review-header">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-bold text-tcf-orange">{{ review.semester }}</h6>
                        <h6 id="date" class="text-muted">Updated {{ review.created|date:"n/d/y" }}</h6>
                    </div>
                    </div>
                    {% endif %}

                    <div class="review-content mb-2">
                    <!-- Max-height container for the review text collapse feature -->
                    <div class="review-text-body collapse" id="reviewText{{review.id}}"
                        aria-expanded="false">
                        <!-- Full review text -->
                        <div class="review-text-full">{{ review.text|linebreaks }}</div>
                    </div>
                    <!-- Collapser link (click target spans entire row block) -->
                    <a role="button" class="review-collapse-link btn-block p-1 collapsed"
                        data-toggle="collapse" href="#reviewText{{review.id}}"
                        aria-expanded="false" aria-controls="reviewText{{review.id}}">
                        <!-- Note: collapser text ("See more...") is encoded in review.css for this link -->
                    </a>
                </div>

                <div class="review-footer row mt-3">
                    <!-- Review upvote/downvote container -->
                    <div class="vote-container col-sm-4 d-flex align-items-end text-center text-muted flex-wrap">
                        <!-- Hidden HTML tag to sort reviews by helpfulness (net upvotes)-->
                        <span id="vote-count" hidden>{{ review.sum_votes }}</span>
                        <div class="mr-3 mr-sm-4">
                            <!--Voting logic is implemented in the <script> tag of reviews.html-->
                            <a id="upvote{{review.id}}" href="#loginModal" data-toggle="modal"
                                class="upvote {% if review.user_vote == 1 %}active{% endif %}">
                                <i class="fa fa-thumbs-up"></i>
                            </a>
                            <span class="upvoteCount">{{ review.count_votes.upvotes }}</span>
                        </div>
                        <div class="mr-3 mr-sm-4">
                            <a id="downvote{{review.id}}" href="#loginModal" data-toggle="modal"
                                class="downvote {% if review.user_vote == -1 %}active{% endif %}">
                                <i class="fa fa-thumbs-down"></i>
                            </a>
                            <span class="downvoteCount">{{ review.count_votes.downvotes }}</span>
                        </div>
                        {% if user.email != instructor.email %}
                            <a class="btn bg-tcf-orange text-white justify-content-end mt-0"
                                data-toggle="modal"
                                data-target="#prof-reply-modal-{{ review.id }}">
                                Reply
                            </a>
                        {% endif %}
                    </div>

                    <!-- Review Ratings -->
                    <div class="review-ratings col-sm-8 d-flex align-items-end justify-content-end text-center text-muted flex-wrap mb-2">
                        <div id="review-average" class="text-dark mr-3 mr-sm-4" data-toggle="tooltip" data-placement="bottom" title="Review Average">
                            <i class="fa fa-star fa-fw"></i>
                            {{ review.average|floatformat:2 }}
                        </div>
                        <div class="mr-3 mr-sm-4"  data-toggle="tooltip" data-placement="bottom" title="{% if review.club %}Leadership{% else %}Instructor{% endif %} Rating">
                            <i class="fa fa-user"></i>
                            {{ review.instructor_rating }}
                        </div>
                        <div class="mr-3 mr-sm-4"  data-toggle="tooltip" data-placement="bottom" title="Enjoyability">
                            <i class="fa fa-smile-beam"></i>
                            {{ review.enjoyability }}
                        </div>
                        <div class="mr-3 mr-sm-4"   data-toggle="tooltip" data-placement="bottom" title="Recommend">
                            <i class="fas fa-heart"></i>
                            {{ review.recommendability }}
                        </div>
                        <div class="mr-3 mr-sm-4" data-toggle="tooltip" data-placement="bottom" title="{% if review.club %}Commitment{% else %}Difficulty{% endif %}">
                            <i class="fa fa-dumbbell fa-fw"></i>
                            {{ review.difficulty }}
                        </div>
                        <div data-toggle="tooltip" data-placement="bottom" title="Hours Per Week">
                            <i class="fa fa-hourglass-half fa-fw"></i>
                            {{ review.hours_per_week }}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% if professorReply %}
    <div class="col-12 p-2" style="background-color: #f0f0f0;">
        <p class="m-2 text-muted">Want to share more? Add a comment or feedback below.</p>
    </div>
    {% endif %}
    <!-- Professor Reply Modal -->
    <div class="modal fade" id="prof-reply-modal-{{ review.id }}" tabindex="-1" role="dialog" aria-labelledby="prof-reply-label-{{ review.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="prof-reply-label-{{ review.id }}" class="modal-title">Reply to Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form>
                    {% csrf_token %}
                    <div class="modal-body">
                    <div class="form-group">
                        <textarea id="prof-reply-text-{{ review.id }}" name="text" class="form-control" rows="4" minlength="2" maxlength="5000" required placeholder="Write your reply..."></textarea>
                    </div>
                    <!-- pass which review this reply belongs to -->
                    <input type="hidden" name="review" value="{{ review.id }}">
                    </div>

                    <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn bg-tcf-orange text-white">Post Reply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
