{% load static %}
<link rel="stylesheet" href="{% static 'reviews/pagination.css' %}" />

<div class="reviews container-lg px-0">
    <div id="reviews-container" data-course-id="{{ course.id }}" data-instructor-id="{{ instructor.id }}">
    {% include "./reviews_list.html" %}
</div>
</div>

<script type="module" src="{% static 'reviews/reviews.js' %}"></script>

{% if user.is_authenticated %}
<script type="module">
    import { handleVote } from "{% static 'reviews/review.js' %}";

    $(document).on("click", ".upvote", function () {
        handleVote($(this).data("id"), true);
    });

    $(document).on("click", ".downvote", function () {
        handleVote($(this).data("id"), false);
    });
</script>
{% endif %}
