<!-- TODO: include review styles here -->
{% load static %}

<div class="reviews container-lg px-0">
    <ul class="review-list list-unstyled">
        {% for r in reviews %}
            <li>
                {% include "reviews/review.html" with profile=profile review=r %}
            </li>
        {% empty %}
            <div class="card col p-5 text-center">
                <div class="card-body">
                    <h4 class="card-title">
                        No Reviews <i class="far fa-frown-open fa-fw"></i>
                    </h4>
                    <p class="card-text">
                        Help us out by <a href="{% url 'new_review' %}">writing a review!</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </ul>
</div>

{% if reviews %}
<script type="module" src="{% static 'reviews/sort_reviews.js' %}"></script>
{% endif %}
<script type="module">
    import { handleVote } from "{% static 'reviews/review.js' %}";
    {% if user.is_authenticated %}
        $('.upvote').each(function(i, obj) {
            $(this).click(()=>{
                handleVote(obj.id.substring(6), true);
            });
            $(this).removeAttr('href');
        });
        $('.downvote').each(function(i, obj) {
            $(this).click(()=>{
                handleVote(obj.id.substring(8), false);
            });
            $(this).removeAttr('href');
        });
    {% endif %}
</script>
