<div class="large-stats-container container-lg">
    <div class="row px-3 text-center">
        <div class="col-sm large-stats card">
            <h2>Total Written</h2>
            <h3 class="text-tcf-orange">{{ total_reviews_written }}</h3>
        </div>
        <div class="col-sm large-stats card">
            <h2>Upvotes Received</h2>
            <h3 class="text-tcf-orange">{{ total_review_upvotes }}</h3>
        </div>
        <div class="col-sm large-stats card">
            <h2>Average Rating</h2>
            <h3 class="text-tcf-orange">{{ average_review_rating }}</h3>
        </div>
    </div>
</div>
