<!-- User Submitted Zero Hours in Review -->
<div class="modal fade" id="zero-hours-review" tabindex="-1" role="dialog" aria-labelledby="zero-hours-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Zero Hours per Week in Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          It looks like you submitted zero total hours of work per week for this class. Please double-check
          that the class you are reviewing truly does not require any outside work, as this is valuable
          information for other students evaluating the class.
          <br>
          <br>
          <div class="row justify-content-center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>
