{% extends "login/login_base.html" %}
{% load static %}

{% block login_content %}

<h2 class="card-title">Welcome to theCourseForum!</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-12 col-lg-4 ">
            {{ form.graduation_year.label_tag }}
            {{ form.graduation_year }}
        </div>
        <div class="col-12 col-lg-4 ">
            {{ form.first_major.label_tag }}
            {{ form.first_major }}
        </div>
        <div class="col-12 col-lg-4 ">
            {{ form.second_major.label_tag }}
            {{ form.second_major }}
        </div>
    </div>
    <input type="submit" class="btn btn-primary mt-3" value="Save">
</form>

{% endblock %}
