{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'login/login_button.css' %}" />
{% endblock %}

<form action="{% url 'social:complete' 'email' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <label for="email">Your email: </label>
        <input id="email" type="email" name="email" value="jackliu612@gmail.com">
    </fieldset>
    <fieldset>
        <label for="password">Your password: </label>
        <input id="password" type="password" name="password" value="fillerpassword">
    </fieldset>
    <input type="hidden" name="login" value="login">
    <div class="login-button-container m-0">
        <input type="submit" class="btn btn-lg bg-tcf-blue text-white" value="Login">
    </div>
    
</form>