{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'login/login_button.css' %}" />
{% endblock %}

<div class="login-button-container m-0">
  {% with request.resolver_match.view_name as view_name %}
    <!-- Redirect back to same page only if not on login error page -->
    {% if view_name != 'tcf_website.views.auth.login_error' %}
        <!-- Google Login Button -->
        <a class="login-button-wrapper"
           href="{% url 'social:begin' 'google-oauth2' %}?next={{path}}">
            <button class="btn btn-primary google-login-button">
                <i class="fab fa-google"></i> Sign in with Google
            </button>
        </a>
        <!-- Microsoft Login Button -->
        <a class="login-button-wrapper"
           href="{% url 'microsoft_login' %}">
            <button class="btn btn-secondary microsoft-login-button">
                <i class="fab fa-microsoft"></i> Sign in with Microsoft
            </button>
        </a>
    {% else %}
        <!-- Google Login Button (Error Page) -->
        <a class="login-button-wrapper"
           href="{% url 'social:begin' 'google-oauth2' %}">
            <button class="btn btn-primary google-login-button">
                <i class="fab fa-google"></i> Login with Google
            </button>
        </a>
    {% endif %}
  {% endwith %}
</div>