{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'login/login_button.css' %}" />
{% endblock %}

<div class="login-button-container m-0">
    <!-- Redirect back to same page only if not on login error page -->
    {% if request.resolver_match.url_name != 'login_error' %}
        <a class="login-button-wrapper"
           href="{% url 'social:begin' 'google-oauth2' %}?next={{request.get_full_path}}">
            <button class="login-button"></button>
        </a>
    {% else %}
        <a class="login-button-wrapper"
           href="{% url 'social:begin' 'google-oauth2' %}">
            <button class="login-button"></button>
        </a>
    {% endif %}
</div>
