{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
<div class="card col-3 text-center">
    <div class="card-body">
        <img style="width: auto; height: 100px;" src="https://thecourseforum.com/images/logo-orange-small.png" class="card-img-top" alt="tCF" width="auto">
        <h5 class="card-title">Welcome to theCourseForum!</h5>
        <p class="card-text">Please log in to continue.</p>
        {% if error %}
            <p style="color: red;" class="card-text">There was an error logging you in. Please make sure you're using an @virginia.edu email address.</p>
        {% endif %}
        {% include "login/login_button.html" %}
    </div>
  </div>
</div>

{% endblock %}