{% extends "base/base.html" %}
{% load static %}

{% block title %}Password Reset - theCourseForum{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    {% include "../common/leaderboard_ad.html" with ad_slot="5809358047" %}
    <div class="row d-flex flex-column align-items-center mt-3">
        <p>Your password has been set.</p>

        <p><button class="btn btn-primary bg-tcf-indigo" href="#loginModal" data-toggle="modal">Log In</button></p>
    </div>
</div>
{% endblock %}
