{% extends "base/base.html" %}
{% load static %}

{% block title %}Password Reset - theCourseForum{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
{% if form.errors %}
    <p class="errornote">
    Please correct the errors below.
    </p>
{% endif %}

<div class="container-fluid">
    <div class="row d-flex flex-column align-items-center">
        <h2>Change Password</h2>
        <div class="card col-12 col-xl-9 col-xl-9 col-xl-6 mt-3 px-0">
            <div class="card-body">
                <h5 class="card-title">Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</h5>
                <form{% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
                    {% csrf_token %}
                    <div>
                        {{ form.old_password.errors }}
                        <div class="flex-container form-text text-muted">{{ form.old_password.label_tag }} {{ form.old_password }}</div>
                        {{ form.new_password1.errors }}
                        <div class="flex-container form-text text-muted">{{ form.new_password1.label_tag }} {{ form.new_password1 }}</div>
                        {% if form.new_password1.help_text %}
                        <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                        {{ form.new_password2.errors }}
                        <div class="form-text text-muted">{{ form.new_password2.label_tag }} {{ form.new_password2 }}</div>
                        {% if form.new_password2.help_text %}
                        <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div>
                </form>
                <div class="submit-row">
                    <input type="submit" value="Change my password" class="btn btn-primary bg-tcf-indigo">
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}
