{% extends "base/base.html" %}
{% load static %}

{% block title %}Password Reset - theCourseForum{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex flex-column align-items-center">
        <form method="POST">
            <h3>Forgot your password?</h3>
            <p>Enter your email address and we'll email you a link to reset your password:</p>
            {% csrf_token %}
                <div class="form-group col">
                    {{ form.email.errors }}
                    <label for="email">Email</label>
                    <input id="email" class="form-control bg-white" type="text" name="email" placeholder="mst3k@virginia.edu">
                </div>
            <div class="form-group col">
                <input type="submit" class="btn btn-primary bg-tcf-indigo" value="Reset password">
            </div>
        </form>
    </div>
</div>
{% endblock %}
