{% extends "base/base.html" %}
{% load static %}

{% block title %}Password Reset - theCourseForum{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex flex-column align-items-center">
<!--        <form method="post">{% csrf_token %}-->
<!--            <fieldset class="module aligned">-->
<!--                <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">-->
<!--                <div class="form-row field-password1">-->
<!--                    {{ form.new_password1.errors }}-->
<!--                    <label for="id_new_password1">New password:</label>-->
<!--                    {{ form.new_password1 }}-->
<!--                </div>-->
<!--                <div class="form-row field-password2">-->
<!--                    {{ form.new_password2.errors }}-->
<!--                    <label for="id_new_password2">Confirm password:</label>-->
<!--                    {{ form.new_password2 }}-->
<!--                </div>-->
<!--                <input type="submit" class="form-control bg-white" value="Change my password">-->
<!--            </fieldset>-->
<!--        </form>-->
        <form method="POST">
            <h3>Enter new password</h3>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            {% csrf_token %}
            <input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
                <div class="form-group field-password1 col">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New Password:</label>
                    <input type="password" class="form-control bg-white" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                </div>
                <div class="form-group field-password2 col">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm Password:</label>
                    <input type="password" class="form-control bg-white" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </div>
            <div class="form-group col">
                <input type="submit" class="btn btn-primary bg-tcf-indigo" value="Reset Password">
            </div>
        </form>
    </div>
</div>
{% endblock %}