{% if is_club %}
{% if not clubs %}
<ul class="autocomplete-list" role="listbox">
  <li class="autocomplete-item autocomplete-item--empty" role="option" aria-disabled="true">
    <span class="autocomplete-item__title">No results found.</span>
  </li>
</ul>
{% else %}
<ul class="autocomplete-list" role="listbox">
  <li class="autocomplete-group-header" role="presentation">Clubs <span class="autocomplete-group-header__hint">Tab to select</span></li>
  {% for club in clubs %}
  <li class="autocomplete-item" role="option">
    <a href="{% if autocomplete_action == 'review' %}{% url 'new_review' %}?mode=clubs&club={{ club.id }}{% else %}{% url 'club' category_slug=club.category_slug club_id=club.id %}{% endif %}" class="autocomplete-item__link">
      <span class="autocomplete-item__title">{{ club.name }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% elif not courses and not instructors %}
<ul class="autocomplete-list" role="listbox">
  <li class="autocomplete-item autocomplete-item--empty" role="option" aria-disabled="true">
    <span class="autocomplete-item__title">No results found.</span>
  </li>
</ul>
{% else %}
<ul class="autocomplete-list" role="listbox">
  {% if courses_first %}
    {% if courses %}
      <li class="autocomplete-group-header" role="presentation">Courses <span class="autocomplete-group-header__hint">Tab to select</span></li>
      {% for course in courses %}
      <li class="autocomplete-item" role="option">
        <a href="{% if autocomplete_action == 'schedule' %}{% url 'schedule_add_course' course_id=course.id %}{% if autocomplete_target %}?schedule={{ autocomplete_target }}{% endif %}{% elif autocomplete_action == 'review' %}{% url 'new_review' %}?course={{ course.id }}{% else %}{% url 'course' mnemonic=course.mnemonic course_number=course.number %}{% endif %}" class="autocomplete-item__link">
          <span class="autocomplete-item__code">{{ course.mnemonic }} {{ course.number }}</span>
          <span class="autocomplete-item__title">{{ course.title }}</span>
        </a>
      </li>
      {% endfor %}
    {% endif %}

    {% if instructors and not autocomplete_action %}
      <li class="autocomplete-group-header" role="presentation">Instructors</li>
      {% for instructor in instructors %}
      <li class="autocomplete-item" role="option">
        <a href="{% url 'instructor' instructor_id=instructor.id %}" class="autocomplete-item__link">
          <span class="autocomplete-item__title">{{ instructor.first_name }} {{ instructor.last_name }}</span>
        </a>
      </li>
      {% endfor %}
    {% endif %}
  {% else %}
    {% if instructors and not autocomplete_action %}
      <li class="autocomplete-group-header" role="presentation">Instructors <span class="autocomplete-group-header__hint">Tab to select</span></li>
      {% for instructor in instructors %}
      <li class="autocomplete-item" role="option">
        <a href="{% url 'instructor' instructor_id=instructor.id %}" class="autocomplete-item__link">
          <span class="autocomplete-item__title">{{ instructor.first_name }} {{ instructor.last_name }}</span>
        </a>
      </li>
      {% endfor %}
    {% endif %}

    {% if courses %}
      <li class="autocomplete-group-header" role="presentation">Courses</li>
      {% for course in courses %}
      <li class="autocomplete-item" role="option">
        <a href="{% if autocomplete_action == 'schedule' %}{% url 'schedule_add_course' course_id=course.id %}{% if autocomplete_target %}?schedule={{ autocomplete_target }}{% endif %}{% elif autocomplete_action == 'review' %}{% url 'new_review' %}?course={{ course.id }}{% else %}{% url 'course' mnemonic=course.mnemonic course_number=course.number %}{% endif %}" class="autocomplete-item__link">
          <span class="autocomplete-item__code">{{ course.mnemonic }} {{ course.number }}</span>
          <span class="autocomplete-item__title">{{ course.title }}</span>
        </a>
      </li>
      {% endfor %}
    {% endif %}
  {% endif %}
</ul>
{% endif %}
