.card-header{
    font-size: 1.25rem;
    background-color: white;
}

.draggable-card{
    cursor: move;
}

.dragging {
    border-color: var(--accent-color);
}

.collapsible{
    cursor: pointer;
}

.collapsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
