.card-header{
    font-size: 1.25rem;
    background-color: white;
}

.draggable-card{
    cursor: move;
}

.notes-content {
    display: block;
    height: 2rem;
    overflow: hidden;
}

.dragging {
    border-color: var(--accent-color);
}
