.card-header{
    font-size: 1.25rem;
    background-color: white;
}

.draggable-card{
    cursor: move;
}

.dragging {
    border-color: var(--accent-color);
}

.notes-content {
    font-size: 1.5rem;
}
