<!--ANSWER FORM-->

{% extends "base/base.html" %}
{% load static %}

{% block title %}Answer a question - theCourseForum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'qa/new_question.css' %}" />
{% endblock %}

{% block content %}

<div class="new-answer container text-left mx-auto">
    <h1 class="h2 mt-2 mb-4">Answer this question</h1>
    <div class="card">
        <form class="card-body px-md-5" id="answerForm" action="{% url 'new_answer' %}" method="POST">
            <h2 class="h4 question-form-header form-group mt-4 mb-2 question-heading">
                Type your answer </h2>
            <div class="form-row mb-3">
                <textarea class="form-control" id="reviewtext" name="text" rows="5"
              placeholder="(Enter your answer here!)" minlength="100" maxlength="5000">{{ form.text.value }}</textarea>
            </div>
            <hr>
            <h2 class="h4 question-form-header form-group mt-4 mb-2 question-heading">
                About Yourself </h2>
            <div class="form-group">
                <p class="small">You can type or use Arrowkeys+Enter to select.</p>
            </div>
            <div class="form-row mb-3">
                <div class="form-group col-sm-6">
                    <label for="major" class="required-field">Department of Major</label>
                    <select type="text" class="form-control" required id="major" name="major">
                        <option selected>{{ form.instance.course.subdepartment.mnemonic }} | {{
                            form.instance.course.subdepartment.name}} </option> 
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label for="year" class="required-field">Year</label>
                    <select type="text" class="form-control" required id="year" name="year">
                        <option>1st Year</option>
                        <option>2nd Year</option>
                        <option>3rd Year</option>
                        <option>4th Year</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>

            <div class="form-row mb-3">
                <!---<div class="form-group col-sm-6">
                    <label for="course" class="required-field">Course</label>
                    <select type="text" class="form-control" required id="course" name="course">
                        <option value="{{ form.instance.course.id }}" selected>{{ form.instance.course.number }} | {{
                            form.instance.course.title }}</option>
                    </select>
                </div>-->

                <div class="form-group col-sm-6">
                    <label for="semester" class="required-field">Semester Taken</label>
                    <select type="text" class="form-control" required id="semester" name="semester">
                        <option value="{{ form.instance.semester }}" selected>{{ form.instance.semester }} </option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="tab-content">
                <div class="new-question-submit row py-4">
                    <button type="submit" class="btn btn-primary mx-auto" id="submitBtn">Post Answer</button>
                </div>
            </div>


        </form>
    </div>
</div>

{%endblock%}

{% block js %}
<script type="text/javascript" src="{% static 'qa/new_answer.js' %}"></script>
{% endblock %}