<div class="modal fade" id="answer-question-modal-{{question.id}}" tabindex="-1" role="dialog" aria-labelledby="answer-question-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Answer a Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col mb-3">
                    <div class="alert alert-danger" id="duplicate-answer" style="display:none">
                        <p id="duplicate-answer">It looks like you've already submitted a answer for this question! If you'd like, you may edit your original response.</p>
                    </div>
                    <form method="POST" action="{% url 'new_answer' %}" id="answerForm">
                        {% csrf_token %}
                        <fieldset>
                            <textarea class="form-control mb-3" name="text" id="1" value="" rows="3"
                                placeholder="(Enter your answer here!)" minlength="5" maxlength="5000"></textarea>
                        </fieldset>
                        <input type="hidden" name="question" id="2" value="{{question.id}}">
                        <div class="row justify-content-center">
                            <div class="row form-group col-sm-8 justify-content-center">
                                <label for="semester" class="required-field">Semester you took this class</label>
                                <select type="text" class="form-control" required id="semester" name="semester">
                                  <option value="{{ form.instance.semester.id }}" selected>{{ form.instance.semester }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <input type="submit" value="Submit Answer" id="submitBtn" class="btn bg-tcf-orange text-white mb-3">
                                <i class="" aria-hidden="true"></i> 
                            </input>
                        </div>
                    </form>
                </div>

                <!-- <hr>
                <div class="form-group col mb-3">
                    <textarea class="form-control" id="answertext" name="text" rows="3"
                            placeholder="(Enter your answer here!)" minlength="100" maxlength="5000">{{ form.text.value }}</textarea>
                </div>
                <div class="row justify-content-center">
                    <a href="" class="btn bg-tcf-orange text-white mb-3">
                        <i class="" aria-hidden="true"></i> Submit your Answer!
                    </a>
                </div>
                <br> -->
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>