{% extends "base/base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'qa/qa.css' %}" />

{% block content %}
<div class="qa-container mb-5 mt-3">
    <div class="qa-toolbar pb-2 d-flex flex-md-row flex-column justify-content-left justify-content-md-center">
        <h3 class="qa-heading mb-0 mt-1 mr-4">Questions</h3>
        <div class="qa-options d-flex flex-sm-row flex-column col p-0">
            <a href="#loginModal" data-toggle="modal" id="ask-question-button" class="btn bg-tcf-orange text-white mb-3">
                <i class="fa fa-plus" aria-hidden="true"></i> Ask your Question!
            </a>
            {% if questions %}
                <div class="ml-auto">
                    <div class="dropdown btn-group ml-sm-4">
                        <button class="btn bg-white" disabled>Sort by</button>
                        <button id="qa-sort-select" class="btn btn-primary dropdown-toggle" type="button" id="sortOptions"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="sortOptions">
                            <button id="qa-votes-sort-btn" class="dropdown-item" type="button">Most Helpful</button>
                            <button id="qa-recent-sort-btn" class="dropdown-item" type="button">Most Recent</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="ask-question-modal" tabindex="-1" role="dialog" aria-labelledby="ask-question-label"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ask a Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col mb-3">
                        <form method="POST" action="{% url 'new_question' %}">
                            {% csrf_token %}
                            <fieldset>
                                <textarea class="form-control mb-3" name="text" rows="3"
                                    placeholder="(Enter your question here!)" minlength="5" maxlength="5000"
                                    required></textarea>
                            </fieldset>

                            <!--Temp replacement for question form-->
                            <fieldset>
                                <label>Course Department:</label>
                                <input name="course" value="">
                            </fieldset>

                            <fieldset>
                                <label>Course No.:</label>
                                <input name="instructor" value="">
                            </fieldset>

                            <fieldset>
                                <label>Instructor ID:</label>
                                <input name="instructor" value="">
                            </fieldset>
                            <!--End of temp replacement-->

                            <div class="row justify-content-center">
                                <input type="submit" value="Submit your Question!"
                                    class="btn bg-tcf-orange text-white mb-3">
                                <i class="" aria-hidden="true"></i>
                                </input>
                            </div>
                        </form>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="qa container-lg px-0">
        <ul class="questions-list list-unstyled">
            <div id="questionShow">
                {% for question in questions %}
                <div id="question-container{{question.id}}" class="question-container card mb-2">
                    <div class="card-body text-left">
                        <div class="row">
                            <div class="question-body col-xs-12 col-md-12 col-lg-12">
                                <div class="question" id="question{{question.id}}">
                                    <div class="row">
                                        <div class="col-sm-1 d-flex text-muted">
                                            <span class="upvoteCount" hidden>{{ question.count_votes.upvotes }}</span>
                                            <span class="downvoteCount" hidden>{{ question.count_votes.downvotes }}</span>
                                            <ul class="list-group mx-auto justify-content-center text-center">
                                                <li class="item">
                                                    <a id="upvoteQ{{question.id}}" href="#loginModal" data-toggle="modal"
                                                    class="upvoteQuestion {% if question.user_q_vote == 1 %}active{% endif %}">
                                                    <i class="fa fa-chevron-up fa-lg"></i>
                                                    </a>
                                                </li>
                                                <li class="item justify-content-center">
                                                    <span id="question-vote-count">{{ question.sum_q_votes }}</span>
                                                </li>
                                                <li class="item justify-content-center">
                                                    <a id="downvoteQ{{question.id}}" href="#loginModal" data-toggle="modal"
                                                    class="downvoteQuestion {% if question.user_q_vote == -1 %}active{% endif %}">
                                                    <i class="fa fa-chevron-down fa-lg"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col">
                                            <div class="question-header">
                                                <div class="d-flex justify-content-left">
                                                    <h6 id="course" class="btn border-tcf-blue text-tcf-blue">{{ question.course.code }}</h6> <a>&nbsp &nbsp</a>
                                                    <h6 id="instructor" class="btn border-tcf-blue text-tcf-blue">{{ question.instructor.first_name }} {{ question.instructor.last_name }}</h6>
                                                </div>
                                            </div>
                                            <div class="question-content mb-2">
                                                <div class="question-text-body" id="questionText{{question.id}}">
                                                    <div class="question-text-full text-break">{{ question.text|linebreaks }}</div>
                                                </div>
                                            </div>
                                            <div class="question-footer mt-3">
                                                <div class="d-flex justify-content-end">
                                                {% if question.user == user %}
                                                    <div class="question-actions d-inline-flex">
                                                        <a data-toggle="modal" class="question-edit h5 px-2 text-tcf-blue" type="button" 
                                                            data-target="#edit-question-modal{{question.id}}" id="edit-question-button{{question_id}}">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </a>
                                                        <a class="question-delete h5 pl-2 text-danger" type="button"
                                                                data-toggle="modal" data-target="#deleteQuestionModal{{question.id}}">
                                                        <i class="fa fa-trash-o"></i>
                                                        </a>
                                                        {% include "qa/delete_question_confirm_modal.html" with question_id=question.id %}
                                                    </div>
                                                {% endif %}
                                                </div>
                                                <div class="d-flex justify-content-end">
                                                    <h6 id="date" class="text-muted">Updated {{ question.created|date:"n/d/y" }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="edit-question-modal{{question.id}}" tabindex="-1" role="dialog" aria-labelledby="edit-question-label"
                                    aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit a Question</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col mb-3">
                                                    <form method="POST" action="{% url 'edit_question' question_id=question.id %}">
                                                        {% csrf_token %}
                                                        <fieldset>
                                                            <textarea class="form-control mb-3" name="text" rows="3"
                                                                placeholder="(Enter your question here!)" minlength="5" maxlength="5000"
                                                                required>{{ question.text }}</textarea>
                                                        </fieldset>
                                
                                                        <input type="hidden" name="course" value="{{question.course.id}}">
                                                        <input type="hidden" name="instructor" value="{{question.instructor.id}}">
                                                        <div class="row justify-content-center">
                                                            <input type="submit" value="Edit your Question!"
                                                            class="btn bg-tcf-orange text-white mb-3">
                                                            <i class="" aria-hidden="true"></i>
                                                            </input>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="question-answer-section mt-3">
                                    <div class="row">
                                        <div class="col-sm-1 d-flex"></div>
                                        <div class="col">
                                            <div class="answer-container" id="answer-container{{question.id}}">
                                                {% for question_id, answer_list in answers.items %}
                                                {% if question.id == question_id %}
                                                <div id="answerShow{{question.id}}">
                                                {% for answer in answer_list %}
                                                <div class="answer" id="answer{{answer.id}}">
                                                    <hr>
                                                    <div class="answer-body">
                                                        <div class="answer-head">
                                                            <div class="d-flex justify-content-between">
                                                                <h6 class="btn border-tcf-blue text-tcf-blue">{{ answer.semester }}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="answer-content">
                                                            <p>{{ answer.text }}</p>
                                                        </div>
                                                        <div class="d-flex answer-footer justify-content-between">
                                                            <div
                                                                class="vote-container col-sm-4 d-flex align-items-end text-center text-muted flex-wrap">
                                                                <span id="answer-vote-count" hidden>{{ answer.sum_a_votes }}</span>
                                                                <div class="mr-3 mr-sm-4">
                                                                    <a id="upvoteA{{answer.id}}" href="#loginModal"
                                                                        data-toggle="modal"
                                                                        class="upvoteAnswer {% if answer.user_a_vote == 1 %}active{% endif %}">
                                                                        <i class="fa fa-thumbs-up"></i>
                                                                    </a>
                                                                    <span class="upvoteCount">{{ answer.count_votes.upvotes }}</span>
                                                                </div>
                                                                <div class="mr-3 mr-sm-4">
                                                                    <a id="downvoteA{{answer.id}}" href="#loginModal"
                                                                        data-toggle="modal"
                                                                        class="downvoteAnswer {% if answer.user_a_vote == -1 %}active{% endif %}">
                                                                        <i class="fa fa-thumbs-down"></i>
                                                                    </a>
                                                                    <span class="downvoteCount">{{ answer.count_votes.downvotes }}</span>
                                                                </div>
                                                            </div>
                                                            {% if answer.user == user %}
                                                                <div class="answer-actions d-inline-flex">
                                                                    <a data-toggle="modal" type="button" class="answer-edit h5 px-2 text-tcf-blue" data-target="#edit-answer-modal{{answer.id}}" id="edit-answer-button{{answer_id}}">
                                                                        <i class="fas fa-pencil-alt"></i>
                                                                    </a>
                                                                    <a class="answer-delete h5 pl-2 text-danger" type="button"
                                                                            data-toggle="modal" data-target="#deleteAnswerModal{{answer.id}}">
                                                                    <i class="fa fa-trash-o"></i>
                                                                    </a>
                                                                    {% include "qa/delete_answer_confirm_modal.html" with answer_id=answer.id %}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="d-flex answer-footer justify-content-end">
                                                            <h6 id="date" class="text-muted">Updated {{ answer.created|date:"n/d/y" }}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="edit-answer-modal{{answer.id}}" tabindex="-1" role="dialog"
                                                    aria-labelledby="edit-answer-label" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit an Answer</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="col mb-3">
                                                                    <form method="POST" action="{% url 'edit_answer' answer_id=answer.id%}" id="answerForm{{answer.id}}">
                                                                        {% csrf_token %}
                                                                        <fieldset>
                                                                            <textarea class="form-control mb-3" name="text" value="" rows="3"
                                                                                placeholder="(Enter your answer here!)" minlength="5" maxlength="5000"
                                                                                required>{{ answer.text }}</textarea>
                                                                        </fieldset>
                                                                        <input type="hidden" name="question" value="{{question.id}}">
                                                                        <div class="row justify-content-center">
                                                                            <div class="row form-group col-sm-8 justify-content-center">
                                                                                <label for="semester" class="required-field">Semester you took this class</label>
                                                                                <select type="text" class="form-control semester-dropdown" required id="semester{{answer.id}}-{{answer.semester.id}}" name="semester">
                                                                                    <option value="{{ form.instance.semester.id }}" selected>{{ form.instance.semester }}</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row justify-content-center">
                                                                            <input type="submit" value="Edit Answer" id="submitBtn{{answer.id}}"
                                                                                class="btn bg-tcf-orange text-white mb-3">
                                                                            <i class="" aria-hidden="true"></i>
                                                                            </input>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="row justify-content-center">
                                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                </div>
                                                <div class="collapse" id="answerCollapse{{question.id}}"></div>
                                                <hr>
                                                <div class="row d-flex justify-content-between">
                                                    {% if answer_list|length > 1 %}
                                                    <div class="d-flex collapse-answer-button" id="collapse-answer-button{{question.id}}" value="show" type="button" data-toggle="collapse" data-target="#answerCollapse{{question.id}}" aria-expanded="false" aria-controls="answerCollapse{{question.id}}">
                                                        <button class="btn text-tcf-orange hover-tcf-orange mt-3 collapse-answer-chevron" id="collapse-answer-chevron{{question.id}}" style="border-color: var(--accent-color)">View more answers here</button>
                                                    </div>
                                                    {% else %}
                                                    <div></div>
                                                    {% endif %}
                                                    <a href="#loginModal" data-toggle="modal" data-id="{{ question.id }}"
                                                        class="btn bg-tcf-blue text-white justify-content-start mt-3 answerQuestionBtn"
                                                        id="answerQuestionBtn">
                                                        Answer this Question!
                                                    </a>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="card col p-5 text-center">
                    <div class="card-body">
                        <h4 class="card-title">
                            No Questions and Answers <i class="far fa-frown-open fa-fw"></i>
                        </h4>
                        <p class="card-text">
                            Get us started by writing a question!
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="collapse" id="questionCollapse"></div>
        </ul>
    </div>
    <div class="d-flex justify-content-center">
        {% if questions|length > 3 %}
            <button class="btn text-tcf-orange hover-tcf-orange bg-white col-6" id="collapse-qa-button" value="show" type="button" data-toggle="collapse" data-target="#questionCollapse" aria-expanded="false" aria-controls="questionCollapse" style="border-color: var(--accent-color)">
                <i class="fa fa-chevron-down fa-lg text-center text-tcf-orange" id="collapse-chevron"></i>
            </button>
        {% endif %}
    </div>
    <div class="modal fade" id="answer-question-modal" tabindex="-1" role="dialog"
        aria-labelledby="answer-question-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Answer a Question</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col mb-3">
                        <div class="alert alert-danger" id="duplicate-answer" style="display:none">
                            <p id="duplicate-answer">It looks like you've already submitted a answer for this question!
                                If you'd like, you may edit your original response.</p>
                        </div>
                        <form method="POST" action="{% url 'new_answer' %}" id="answerForm">
                            {% csrf_token %}
                            <fieldset>
                                <textarea class="form-control mb-3" name="text" value="" rows="3"
                                    placeholder="(Enter your answer here!)" minlength="5" maxlength="5000"
                                    required></textarea>
                            </fieldset>
                            <input type="hidden" name="question" id="questionInput" value="{{ question.id }}">
                            <div class="row justify-content-center">
                                <div class="row form-group col-sm-8 justify-content-center">
                                    <label for="semester" class="required-field">Semester you took this class</label>
                                    <select type="text" class="form-control semester-dropdown" required id="semester" name="semester">
                                        <option value="{{ form.instance.semester.id }}" selected>{{ form.instance.semester }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <input type="submit" value="Submit Answer" id="submitBtn"
                                    class="btn bg-tcf-orange text-white mb-3">
                                <i class="" aria-hidden="true"></i>
                                </input>
                            </div>
                        </form>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<!--upvote/downvote feature and login verification for questions-->
<script type="module">
    import { handleQAVote } from "{% static 'qa/qa.js' %}";
    {% if user.is_authenticated %}
    $('#ask-question-button').attr("data-target", "#ask-question-modal");
    $('.answerQuestionBtn').each(function (i, obj) {
        $(this).attr("data-target", "#answer-question-modal");
    });
    $('.upvoteQuestion').each(function (i, obj) {
        $(this).click(() => {
            handleQAVote(obj.id.substring(7), true, true);
        });
        $(this).removeAttr('href');
    });
    $('.downvoteQuestion').each(function (i, obj) {
        $(this).click(() => {
            handleQAVote(obj.id.substring(9), true, false);
        });
        $(this).removeAttr('href');
    });
    $('.upvoteAnswer').each(function (i, obj) {
        $(this).click(() => {
            handleQAVote(obj.id.substring(7), false, true);
        });
        $(this).removeAttr('href');
    });
    $('.downvoteAnswer').each(function (i, obj) {
        $(this).click(() => {
            handleQAVote(obj.id.substring(9), false, false);
        });
        $(this).removeAttr('href');
    });
    {% endif %}
</script>

<script type="module" src="{% static 'qa/sort_qa.js' %}"></script>

<script type="text/javascript" src="{% static 'qa/new_answer.js' %}"></script>

{% endblock %}