{% extends "base/base.html" %}
{% load static %}

{% block title %}{{ club.name }} - theCourseForum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'course/course_professor.css' %}" />
{% endblock %}

{% block content %}
<div class="course container">
  <div class="container-lg mb-4">
    {% include "../common/leaderboard_ad.html" with ad_slot="3719332473" %}
  </div>
  <div class="container-lg">
    {% include "common/toolbar.html" with breadcrumbs=breadcrumbs %}
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="d-md-flex align-items-baseline my-3">
        <h1 class="mr-md-3">{{ club.name }}</h1>
        <h4>{{ club.category.name }}</h4>
      </div>
      
      <!-- Club Description -->
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row">
            <div class="flex-grow-1 mr-md-4">
              <h4 class="card-title">
                Club Description
              </h4>
              <p class="card-text">
                {{ club.description }}
              </p>
              
              <div class="mt-3">
                {% if club.meeting_time %}
                <div class="mb-2">
                  <strong>Meeting Time:</strong> {{ club.meeting_time }}
                </div>
                {% endif %}
                
                <span class="badge {% if club.application_required %}badge-warning{% else %}badge-success{% endif %} p-2">
                  {% if club.application_required %}
                    Application Required
                  {% else %}
                    No Application Required
                  {% endif %}
                </span>
              </div>
            </div>
            
            {% if club.photo_url %}
            <div class="text-center mt-3 mt-md-0" style="min-width: 200px;">
              <img src="{{ club.photo_url }}" alt="{{ club.name }}" class="img-fluid" style="max-height: 200px;">
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      
      <br/>
    </div>
  </div>

  <!-- Reviews Section -->
  <ul class="nav nav-tabs" id="reviews">
    <li class="nav-item">
      <a class="nav-link active" id="reviewsTab" data-toggle="tab" href="#reviewsTabContent" style="font-size: 18px;">Reviews</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="reviewsTabContent" role="tabpanel" aria-labelledby="reviews-tab">
      <div class="reviews-container mb-5 mt-3">
        <div class="reviews-toolbar pb-2 d-flex flex-md-row flex-column justify-content-left justify-content-md-center">
          <h3 class="reviews-heading mb-0 mt-1 mr-4">
            {% if paginated_reviews %}
              {{ paginated_reviews.paginator.count }} {% if paginated_reviews.paginator.count == 1 %} Review {% else %} Reviews {% endif %}
            {% else %}
              0 Reviews
            {% endif %}
          </h3>
          <div class="reviews-options d-flex flex-sm-row flex-column col p-0">
            {% if user.is_authenticated %}
              <a href="{% url 'new_review' %}?mode=clubs&club={{ club.id }}" class="btn bg-tcf-orange text-white mb-3">
                <i class="fa fa-plus" aria-hidden="true"></i> Add your review!
              </a>
            {% else %}
              <a href="#loginModal" data-toggle="modal" class="btn bg-tcf-orange text-white mb-3">
                <i class="fa fa-plus" aria-hidden="true"></i> Add your review!
              </a> 
            {% endif %}
            {% if paginated_reviews and paginated_reviews.number > 0 %}
            <!-- Show sorting options iff reviews exist -->
            <div class="ml-auto">
              <div class="dropdown btn-group ml-sm-4">
                <button class="btn bg-white" disabled>Sort by</button>
                <button id="review-sort-select" class="btn btn-primary dropdown-toggle" type="button" id="sortOptions"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ sort_method|default:"Default" }}
                </button>
                <div class="dropdown-menu" aria-labelledby="sortOptions">
                  <a href="{{ request.path }}?{% for key, value in request.GET.items %}{% if key != 'method' %}{{ key }}={{ value }}&{% endif %}{% endfor %}method=Most Helpful#reviews" class="dropdown-item">
                    Most Helpful
                  </a>
                  <a href="{{ request.path }}?{% for key, value in request.GET.items %}{% if key != 'method' %}{{ key }}={{ value }}&{% endif %}{% endfor %}method=Most Recent#reviews" class="dropdown-item">
                    Most Recent
                  </a>
                  <a href="{{ request.path }}?{% for key, value in request.GET.items %}{% if key != 'method' %}{{ key }}={{ value }}&{% endif %}{% endfor %}method=Highest Rating#reviews" class="dropdown-item">
                    Highest Rating
                  </a>
                  <a href="{{ request.path }}?{% for key, value in request.GET.items %}{% if key != 'method' %}{{ key }}={{ value }}&{% endif %}{% endfor %}method=Lowest Rating#reviews" class="dropdown-item">
                    Lowest Rating
                  </a>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% if paginated_reviews %}
          {% include "reviews/reviews.html" with paginated_reviews=paginated_reviews %}
        {% else %}
          <div class="alert alert-info mt-3">
            <p>No reviews yet. Be the first to <a href="{% url 'new_review' %}?mode=clubs&club={{ club.id }}" class="alert-link">write a review</a>!</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if paginated_reviews %}
<script type="module" src="{% static 'reviews/sort_reviews.js' %}"></script>
{% endif %}
{% endblock %} 