/* For the Review Form in new.html */

.new-review .review-form-header{
  color: var(--accent-color);
}

.new-review select:disabled{
  color: var(--shadow-color);
  background-color: var(--background-color);
}

.required-field::after {
    content: " *";
    color: red;
}
