/* For the Review Form in new_review.html and edit_review.html */

.new-review .review-form-header {
  color: var(--accent-color);
}

.new-review select:disabled {
  color: var(--shadow-color);
  background-color: var(--shaded-color);
}

.required-field::after {
  content: " *";
  color: red;
}

/* Change tooltip */
.tooltip-inner {
  margin-left: 4rem;
  /* background-color: var(--dark-color) !important; */
}

.progress {
  height: 15px;
}

#progressbar-message {
  margin-bottom: 0px;
}

/* Add this to your existing CSS file */
.review-container {
  display: flex;
  gap: 10px;
  transition: all 0.3s ease;
  width: 100%;
  margin-bottom: 1rem;
}

.textarea-container {
  flex: 70%;
  transition: flex 0.3s ease;
}

.alert-container {
  flex: 30%;
  transition: flex 0.3s ease;
}

@media (max-width: 768px) {
  .review-container {
    flex-direction: column;
  }
  
  .textarea-container, .alert-container {
    flex: 100%;
  }
}