/* For the Review Form in new.html */

.new-review .review-form-header{
  color: var(--accent-color);
}

.new-review select:disabled{
  color: var(--shadow-color);
  background-color: var(--shaded-color);
}

.required-field::after {
    content: " *";
    color: red;
}

.custom-range::-webkit-slider-thumb {
  background: var(--accent-color);
}

.custom-range::-moz-range-thumb {
  background: var(--accent-color);
}

.custom-range::-ms-thumb {
  background: var(--accent-color);
}
