.review .review-header {
    color: var(--accent-color);
    font-size: 16px;
}
@media (min-width: 768px) {
  .review .review-header {
      color: var(--accent-color);
      font-size: 20px;
  }
}

.review .upvote, .review .downvote {
    font-size: 2rem;
    color: #aaa;
    cursor: pointer;
}

.review .upvote.active, .review .upvote:hover {
    color: rgb(220, 72, 36);
}

.review .downvote.active, .review .downvote:hover {
    color: dodgerblue;
}

/*
.review .review-date {
    color: var(--accent-color);
    font-size: 12px;
}
@media (min-width: 768px) {
  .review .review-date {
      color: var(--accent-color);
      font-size: 14px;
  }
} */
