.review-content .review-text-body.collapse:not(.show) {
  display: block;
  height: 12rem;
  overflow: hidden;
}
.review-content .review-text-body.collapsing {
  height: 12rem;
}

.review-content a.collapsed::after {
  content: "...See More";
  color: var(--secondary-color);
}

.review-content a:not(.collapsed)::after {
  content: "See Less";
  color: var(--secondary-color);
}

.review .card-body {
  padding: 20px 30px;
}

.review .upvote,
.review .downvote {
  font-size: 1.3rem;
  color: #aaa;
  cursor: pointer;
}

.review .upvote.active,
.review .upvote:hover {
  color: dodgerblue;
}

.review .downvote.active,
.review .downvote:hover {
  color: rgb(215, 86, 38);
}

.tooltip-inner {
  margin: 0;
}
