{% extends "base/base.html" %}
{% load static %}

{% block title %}Review Game{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'game/game.css' %}" />
<link rel="stylesheet" href="{% static 'reviews/review_stats.css' %}" />
<link rel="stylesheet" href="{% static 'common/rating_card.css' %}" />
{% endblock %}

{% block content %}
<!-- might need to wrap everything in a container -->
<div class="container-fluid mx-auto">
<div class="top-half row">
    <div class="persistent-display col-4">
        <div class="info-display">
            <h1>Guess today's course!</h1>
            <h4>Enter a course to begin. 
                <a type="button" data-toggle="modal" data-target="#directionsModal" >
                    <i class="fa fa-question-circle"></i>
                </a>
            </h4>
        </div>
        <div class="modal fade" id="directionsModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <p> instructions here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="guess-wrapper">
            <form id="game-form" class="input-group flex-grow-1" method="post">
                {% csrf_token %}
                <input
                    type="text"
                    class="form-control border border-right-0"
                    placeholder="Type course name... (e.g. CS 1110)"
                    name="course"
                    id="course-input"
                    list="course-list"
                    value="{{ form.course.value|default_if_none:'' }}"
                />

                <datalist id="course-list">
                    {% for c in courses %}
                        <option value="{{ c.combined_mnemonic_number }} — {{ c.title }}"></option>
                    {% endfor %}
                </datalist>

                <button 
                    class="input-group-append btn btn-outline-secondary border border-left-0" 
                    type="submit" aria-label="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="review-container col-8">
        {% include "reviews/review.html" with course_id=review.course instructor_id=review.instructor %}
    </div>
</div>
<div>
    <div class="guess-row">
        <div class="feedback-labels">
            <span class="course-label">Your guess:</span>
            <span> Dept.</span>
            <span> Course Num.</span>
            <span><i class="fa fa-star fa-fw"></i> Rating </span>
            <span><i class="fa fa-dumbbell fa-fw"></i> Difficulty </span>
            <span><i class="fa fa-chart-bar"></i> GPA </span>
        </div>
    </div>
    <div id="guesses">
        <!-- <p>GUESSES</p>
        <p>Your guess: mnemonic | number | avg rating | avg difficulty | avg gpa</p>
        <p>Feedback: incorrect/correct, lower/higher = the answer's corresponding value is lower/higher than your guess</p>
        <p>N/A = course you guessed doesn't have this value </p> -->

    </div>
</div>
</div>

{% endblock %}

{% block js %}
<script>
    var guessIndex = 1

    function tileClass(val) {
        if (val === "correct") return "tile-correct";
        if (val === "partial") return "tile-partial";
        if (val === "higher") return "tile-incorrect tile-higher";
        if (val === "lower") return "tile-incorrect tile-lower";
        return "tile-incorrect";
    }

    function updateRow(guess, feedback) {
        var row = document.createElement("div");
        row.id = `guess-${guessIndex}`;
        row.classList.add("guess-row");
        row.innerHTML = `
        <div class="guess-values">
            <a
                class="rating-card-link"
                href="/course/${guess.mnemonic}/${guess.number}/All"
            >
                    <h3 id="title">${guess.mnemonic} ${guess.number}</h3>
                    <h5>${guess.title}</h5>
            </a>
            <div class="${tileClass(feedback.mnemonic)}">${guess.mnemonic}</div>
            <div class="${tileClass(feedback.number)}">${guess.number}</div>
            <div class="${tileClass(feedback.rating)}">${guess.rating ?? "N/A"}</div>
            <div class="${tileClass(feedback.difficulty)}">${guess.difficulty ?? "N/A"}</div>
            <div class="${tileClass(feedback.gpa)}">${guess.gpa ?? "N/A"}</div>
        </div>
        `

        var guesses = document.getElementById('guesses');
        guesses.prepend(row); //add guess row to top of guesses 
    }

    document.getElementById("game-form").addEventListener("submit", function(e) {
        e.preventDefault()

        if (guessIndex > 10) {
            //need end of game message here
            return;
        }

        var form = this
        var formData = new FormData(form)

        fetch("/game/", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            }
        })
        .then(r => r.json())
        .then(response => {
            if (guessIndex === 1) {
                console.log(response.review_info)
            }
            updateRow(response.guess, response.feedback)
            guessIndex++
        })
    })
</script>
{% endblock %}