# Python
__pycache__/*
*.pyc
# MacOS
.DS_STORE
# SQLite
*.sqlite3
# Database dump or SQL scripts
*.db
*.sql
!db/*.sql
# Environment variables
.env*
!.config/.env.example
# Static files collected by Django
/static/
# npm packages
node_modules/
# CSV files exported from PostgreSQL
db/*.csv
# Data dumps
db/*.sql
# IDEs
.idea/
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
# Code coverage
.coverage
# ESLint cache
.eslintcache
.nvim.lua
# Virtual Environments
venv
.venv
