__pycache__/*
*.pyc
.DS_STORE
*.sqlite3
*.db
legacy_db/*.sql
*.sql
*.pgsql
.vscode/
tcf_website/migrations/*
.env
.vagrant/
/static/
predeploy.sh
gae-service-account.json
node_modules/
.idea/
app.yml
!db/*.sql
db/*.csv
