language: python

services:
    - docker

before_install:
    - docker build .
    - docker-compose run

script:
    - docker exec tcf_django pylint --load-plugins pylint_django tcf_website tcf_core
    - python manage.py test