language: python

python:
- '3.8'

services:
- docker

before_install:
- openssl aes-256-cbc -K $encrypted_859f5568b0c8_key -iv $encrypted_859f5568b0c8_iv
  -in gae-service-account.json.enc -out gae-service-account.json -d
- envsubst < .env.travis > .env
- docker-compose up -d --build
- docker exec tcf_django npm install

script:
- docker exec tcf_django pylint --load-plugins pylint_django --django-settings-module=tcf_core.settings tcf_website tcf_core
- docker exec tcf_django node_modules/.bin/eslint tcf_website/static/**/*.js
- docker exec tcf_django python3 manage.py test

before_deploy:
- envsubst < app.yaml.template > app.yaml
- docker exec tcf_django python3 manage.py collectstatic --noinput --clear

deploy:
  provider: gae
  keyfile: gae-service-account.json
  project: thecourseforum-1585971713016
  on: master
  edge: true
