services:
  web:
    build: .
    command:
      bash -c "uv run manage.py migrate && \
      uv run manage.py collectstatic --noinput && \
      uv run manage.py invalidate_cachalot tcf_website && \
      echo 'Starting Django Server...' && \
      uv run manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - /app/db/ # exclude the subfolder to prevent potential interference
      - node_modules:/app/node_modules
    ports:
      - "8000:8000"
    container_name: tcf_django
    restart: always
    depends_on:
      - db
  db:
    image: postgres:17.5
    volumes:
      - ./db:/app
    restart: always
    container_name: tcf_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PORT: ${DB_PORT}
volumes:
  node_modules:
