version: '3'

services:
  web:
    build: .
    command: bash -c "pip install -r requirements.txt && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - '8000:8000'
    container_name: tcf_django
    depends_on: 
      - db
      - legacy_db
  db:
    image: postgres:12.2
    restart: always
    container_name: tcf_db
    environment:
      POSTGRES_USER: tcf_django
      POSTGRES_PASSWORD: s3kr1t
      POSTGRES_DB: tcf_db
