version: '3'

services:
  web:
    build: .
    command: bash -c "
      npm install --no-fund --no-audit &&
      pip install --upgrade -r requirements.txt &&
      python3 manage.py migrate &&
      python3 manage.py collectstatic --noinput &&
      python3 manage.py invalidate_cachalot tcf_website &&
      echo Starting Django Server... &&
      python3 manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - /app/db/  # exclude the subfolder to prevent potential interference
    ports:
      - '8000:8000'
    container_name: tcf_django
    env_file:
      - .env
    restart: always
  db:
    volumes:
      - ./db:/app
    image: postgres:15.4
    restart: always
    container_name: tcf_db
    env_file:
      - ./.env
    command: -p ${DB_PORT}
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
