Django~=4.2.8
backoff~=2.2.1
black~=24.1.1
celery~=5.3.6
coverage~=7.3.3
django-cachalot~=2.6.1
django-environ~=0.11.2
django-filter~=23.5
django-heroku~=0.3.1
django-stubs~=4.2.7
djangorestframework~=3.14.0
gunicorn~=21.2.0
html-linter~=0.4.0
isort~=5.13.2
mypy-extensions~=1.0.0
mypy~=1.7.1
numpy~=1.26.2
pandas~=2.1.4
psycopg2~=2.9.9
pylint-django~=2.5.5
pylint~=3.0.3
redis~=5.0.1
requests~=2.31.0
social-auth-app-django~=5.4.0
tqdm~=4.66.1
types-tqdm~=4.66.0
uWSGI~=2.0.23
