wheel
Django>=3.2
psycopg2>=2.8.4
social-auth-app-django>=3.1.0
pandas>=1.0.3
numpy>=1.21.2
tqdm>=4.45.0
django-cachalot
requests~=2.26.0
django-environ
django-silk
djangorestframework
django-filter~=21.1
coverage

# Pre-commit/linting
pylint>=2.4.4
pylint-django>=2.0.14
black>=23.11.0
pre-commit>=3.5.0
isort>=5.12.0

# Heroku setup
gunicorn
django-heroku

# GAE Prod
uwsgi
