.fa,
.fas {
  display: inline-block;
  font-style: normal;
  line-height: 1;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.fa-clock            { background-image: url("../icons/img/fa-clock.svg"); }
.fa-arrow-right      { background-image: url("../icons/img/fa-arrow-right.svg"); }
.fa-search           { background-image: url("../icons/img/fa-search.svg"); vertical-align: middle;}
.fa-book             { background-image: url("../icons/img/fa-book.svg"); vertical-align: middle;}
.fa-users            { background-image: url("../icons/img/fa-user.svg"); vertical-align: middle;}
.fa-graduation-cap   { background-image: url("../icons/img/fa-graduation-cap.svg"); vertical-align: middle;}
.fa-handshake        { background-image: url("../icons/img/fa-handshake.svg"); vertical-align: middle;}
.fa-github           { background-image: url("../icons/img/fa-github.svg"); }
.fa-user             { background-image: url("../icons/img/fa-user.svg"); }
.fa-dumbbell         { background-image: url("../icons/img/fa-dumbbell.svg"); }
.fa-chart-bar        { background-image: url("../icons/img/fa-chart-bar.svg"); }
.fa-star             { background-image: url("../icons/img/fa-star.svg"); }
.fa-calendar         { background-image: url("../icons/img/fa-calendar.svg"); }
.fa-plus             { background-image: url("../icons/img/fa-plus.svg"); filter: invert(100%) brightness(150%); vertical-align: middle;}
.fa-chevron-up       { background-image: url("../icons/img/fa-chevron-up.svg"); }
.fa-chevron-down     { background-image: url("../icons/img/fa-chevron-down.svg"); }
.fa-thumbs-up        { background-image: url("../icons/img/fa-thumbs-up.svg"); }
.fa-thumbs-down      { background-image: url("../icons/img/fa-thumbs-down.svg"); }
.fa-trash-o          { background-image: url("../icons/img/fa-trash-o.svg"); }
.fa-hourglass-half   { background-image: url("../icons/img/fa-hourglass-half.svg"); }
.fa-pencil           { background-image: url("../icons/img/fa-pencil.svg"); }
.fa-instagram        { background-image: url("../icons/img/fa-instagram.svg"); }
.fa-discord          { background-image: url("../icons/img/fa-discord.svg"); }
.fa-facebook         { background-image: url("../icons/img/fa-facebook.svg"); }
.fa-code             { background-image: url("../icons/img/fa-code.svg"); }
.fa-list             { background-image: url("../icons/img/fa-list.svg"); vertical-align: middle;}
.fa-user-friends     { background-image: url("../icons/img/fa-user-friends.svg"); }
.fa-smile-beam       { background-image: url("../icons/img/fa-smile-beam.svg"); }
.fa-frown-open       { background-image: url("../icons/img/fa-frown-open.svg"); }
.fa-heart            { background-image: url("../icons/img/fa-heart.svg"); }
.fa-copy             { background-image: url("../icons/img/fa-copy.svg"); }
.fa-flask            { background-image: url("../icons/img/fa-flask.svg"); }

body.dark-mode .fa,
body.dark-mode .fas {
  filter: invert(100%) brightness(150%);
}
