.fa {
    display: inline-block;
    font-style: normal; /* Reset any inherited styles */
    line-height: 1; /* Match text line height */
    /* vertical-align: middle;   */
}

.fa-clock {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-clock.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
}

.fa-arrow-right {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-search {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
}

.fa-book {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-book.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1em; height: 1em; vertical-align: middle; display: inline-block; filter: invert(100%) brightness(150%);
}

.fa-users {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-user.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1em; height: 1em; vertical-align: middle; display: inline-block; filter: invert(100%) brightness(150%);
}

.fa-graduation-cap {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-graduation-cap.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1em; height: 1em; vertical-align: middle; display: inline-block; filter: invert(100%) brightness(150%);
}

.fa-handshake {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-handshake.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1em; height: 1em; vertical-align: middle; display: inline-block; filter: invert(100%) brightness(150%);
}

.fa-github {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-github.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-user {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-user.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-dumbbell {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-dumbbell.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-chart-bar {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-chart-bar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-star {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-calendar {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-plus {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-plus.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-chevron-up {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-chevron-up.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-chevron-down {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-chevron-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-thumbs-up {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-thumbs-up.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-thumbs-down {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-thumbs-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-trash-o {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-trash-o.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-hourglass-half {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-hourglass-half.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-pencil {
    width: 1em;
    height: 1em;
    background-image: url("../icons/img/fa-pencil.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-instagram {
    background-image: url("../icons/img/fa-instagram.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-discord {
    background-image: url("../icons/img/fa-discord.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-facebook {
    background-image: url("../icons/img/fa-facebook.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-code {
    background-image: url("../icons/img/fa-code.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fa-list {
    background-image: url("../icons/img/fa-list.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1em; height: 1em; vertical-align: middle; display: inline-block; filter: invert(100%) brightness(150%);
}   