{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'search/search.css' %}"/>
{% endblock %}

{% block content %}
    <div class="search container">

        <div class="container">
            <h1>Search results for: "{{ query }}"</h1>
        </div>

        <hr>

        {% if courses %}
            <div class="container">
                <h3>Courses</h3>
                {% for dept, dept_data in courses.items %}
                    <hr>
                    <h5><a href="{% url 'department' dept_id=dept_data.dept_id %}">{{ dept }} / {{ dept_data.subdept_name }}</a></h5>
                    <hr>
                    <div class="searched-department-courses">
                        {% for c in dept_data.courses %}
                            {% if c != dept_data.courses.0 %}
                                <hr>
                            {% endif %}
                            <a href="{% url 'course' course_id=c.id %}">{{ c.mnemonic }} - {{ c.title }}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="container">
                <h4>No courses matched your search.</h4>
            </div>
        {% endif %}

        <hr>

        {% if instructors %}
            <div class="container">
                <h4>Instructors</h4>
                {% for i in instructors %}
                    <li>
                        <!-- TODO: create instructor page route -->
                        {{ i.first_name }} {{ i.last_name }}
                    </li>
                {% endfor %}
            </div>
        {% else %}
            <div class="container">
                <h4>No professors matched your search.</h4>
            </div>
        {% endif %}

    </div>
{% endblock %}