<!-- tCF search -->
<!-- To be imported into templates (navbar, landing page) -->
<!-- Update your search form -->
<form class="form-inline flex-grow-1" action="/search" method="get">
  <div class="input-group flex-grow-1">
    <input id="search-input" type="search" class="form-control border border-right-0"
      placeholder="Search for a class or professor..." aria-label="Search" name="q" value="{{query}}">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary border border-left-0" id="search-button" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>

<div class="search-results" id="autocomplete-results" class="autocomplete-results" style="  position: absolute;
top: 100%;
left: 7em;
width: 74.75%;
z-index: 1000;
background: white; 
border: 1px solid #ddd;
box-shadow: 0px 4px 6px rgba(0,0,0,0.1); "></div>

<script>
  var autocompleteResults = document.getElementById('autocomplete-results');
  var searchInput = document.getElementById("search-input");
  document.addEventListener('DOMContentLoaded', function () {

    searchInput.addEventListener('input', function () {
      var query = searchInput.value;

      debounceTimeout = setTimeout(function () {
        if (query.length >= 1) {
          fetch('/autocomplete/?q=' + encodeURIComponent(query))
            .then(response => response.json())
            .then(data => {
              if (data && Array.isArray(data.results)) {
                console.log("Autocomplete results:", data.results);
                displayAutocompleteResults(data.results);
              } else {
                console.error('Invalid JSON format in response:', data);
              }
            })
            .catch(error => console.error('Error:', error));
        } else {
          autocompleteResults.innerHTML = '';
        }
      }, 50);
    });
  });

  function displayAutocompleteResults(results) {
    autocompleteResults.innerHTML = '';

    if (results.length === 0) {
      autocompleteResults.innerHTML = '<div class="autocomplete-result">No results found</div>';
      return;
    }

    results.forEach(function (result) {
      var resultElement = document.createElement('div');
      resultElement.classList.add('autocomplete-result');
      resultElement.setAttribute('tabindex', '0');
      resultElement.textContent = result.title;
      resultElement.style.cursor = 'pointer';
      resultElement.addEventListener('click', function () {
        searchInput.value = result.title;
        autocompleteResults.innerHTML = '';
        searchInput.form.submit();
      });
      autocompleteResults.appendChild(resultElement);
    });
  }
</script>