<!-- tCF search -->
<!-- To be imported into templates (navbar, landing page) -->
<!-- Update your search form -->
<form class="form-inline flex-grow-1" action="/search" method="get">
  <div class="input-group flex-grow-1">
    <input id="search-input" type="search" class="form-control border border-right-0"
      placeholder="Search for a class or professor..." aria-label="Search" name="q" value="{{query}}">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary border border-left-0" id="search-button" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var searchInput = document.getElementById('search-input');

    searchInput.addEventListener('input', function () {
      console.log("hi");
      var query = searchInput.value;

      if (query.length >= 2) {  // Optional: Set a minimum length before triggering autocomplete
        fetch('/autocomplete/?q=' + encodeURIComponent(query))
          .then(response => response.text())
          .then(data => {
            console.log("raw: " + data);
            return JSON.parse(data);
          })
          .then(parsedData => {
            console.log(parsedData.results);
          })
          .catch(error => console.error('Error:', error));
      }
    });
  });
</script>