{% extends "base/index.html" %}
{% load static %}


{% block styles %}
<!-- Custom fonts for this template -->
<link rel="stylesheet" href="{% static '_styling/fontawesome-free/css/all.min.css' %}" />
<link rel="stylesheet" href="{% static '_styling/simple-line-icons/css/simple-line-icons.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'base/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'landing/landing-page.css' %}" />
{% endblock %}


{% block body %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <!-- tCF logo -->
    <a class="navbar-brand logo-container" href="/">
      <img class="logo" src="{% static 'base/img/new_logo.png' %}">
    </a>
    <!-- tCF profile dropdown -->
    <div class="account-settings">
      {% if user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
          Hey, {{user.first_name}}!
        </a>
        <div class="dropdown-menu settings" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
          <a class="dropdown-item" href="{% url 'reviews' %}">My Reviews</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
      {% else %}
      <div class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Sign In</a>
      </div>
    {% endif %}
    </div>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-2">theCourseForum</h1>
        <p class="lead mb-5">A UVA student-run community that connects you to the courses you love.</p>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        {% include "base/searchbar.html" %}
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="{% url 'browse' %}" class="link-unstyled">
          <div class="card m-3">
            <div class="card-body features-icons-item mx-auto mb-2">
              <div class="features-icons-icon d-flex">
                <i class="icon-list m-auto text-primary"></i>
              </div>
              <h4 class="card-title">Browse Courses</h4>
              <p class="card-text font-weight-light mb-0">See what other UVA students say about classes and professors</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4">
        <a href="{% url 'browse' %}" class="link-unstyled">
          <div class="card m-3">
            <div class="card-body features-icons-item mx-auto mb-2">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h4 class="card-title">View Grades</h4>
              <p class="card-text font-weight-light mb-0">Check out actual grade distributions from past semesters</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4">
        <a href="{% url 'browse' %}" class="link-unstyled">
          <div class="card m-3">
            <div class="card-body features-icons-item mx-auto mb-2">
              <div class="features-icons-icon d-flex">
                <i class="icon-pencil m-auto text-primary"></i>
              </div>
              <h4 class="card-title">Write a Review</h4>
              <p class="card-text font-weight-light mb-0">Help our community by telling others about your class experience</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="about_team">

</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
          <h5>Margaret E., CLAS '19</h5>
          <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
          <h5>Fred S., SEAS '21</h5>
          <p class="font-weight-light mb-0">"theCourseForum is amazing. I've been using it to choose all my classes."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
          <h5>Sarah W., CLAS '22</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making these reviews available to us!"</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Tell us about your experience</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Feedback</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="{% url 'about' %}">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{% url 'terms' %}">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="{% url 'privacy' %}">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; theCourseForum 2020. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <h5>Follow theCourseForum!</h5>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
