.scheduleCardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.scheduleCardHeader > h4 {
    margin-right: auto;
}

.scheduleStats {
    display: flex;
    align-items: center;
    gap: 10px;
}

.scheduleStatItem {
    display: flex;
    align-items: center;
    gap: 5px; 

}

.schedule_radio_option {
    width: 100%;
}

.schedule_radio_option label {
    display: flex; 
    align-items: center;
    cursor: pointer; 
    padding: 10px; 
}

.schedule_radio_input {
    margin-right: 10px; /* Adjust the space between the radio button and the label text */
}

.schedule_course_card {
    display: flex;
    border: 3px solid grey;
}