.search .search-results {
  background-color: var(--card-background-color);
}

.text-muted {
  color: var(--basic-text-color) !important;
}

.result-nav .btn-group {
  flex-wrap: wrap;
}

.search-result-header h3,
.search-result-header p {
  display: inline-block;
}

.search-course-description {
  color: var(--accent-color);
}

body.dark-mode{
  color: var(--basic-text-color) !important;
}

body.dark-mode .list-group-item-light,
body.dark-mode .btn-light {
  background-color: var(--input-background-color) !important;
  color: var(--basic-text-color) !important;
  border: none;
  outline: none;
}