/* 
 * A spritesheet is used to eliminate CSS flickering.
 * https://www.codeandweb.com/texturepacker/tutorials/how-to-create-a-sprite-sheet
 * 
 * ^ great resource from Floryan's Game Design class
*/

.login-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px; /* Adjust the space between buttons */
}

/* Google Login Button */
.google-login-button {
    background-color: #E3E8F1; /* Google's brand color */
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.google-login-button:hover {
    background-color: #D2DCE6;
    color: black;
    cursor: pointer;
}

.google-login-button i {
    margin-right: 8px; /* Spacing between icon and text */
}

/* Microsoft Login Button */
.microsoft-login-button {
    background-color: #E3E8F1; /* Google's brand color */
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.microsoft-login-button:hover {
    background-color: #D2DCE6;
    color: black;
    cursor: pointer;
}

.microsoft-login-button i {
    margin-right: 8px; /* Spacing between icon and text */
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .fa-microsoft {
    background: linear-gradient(to bottom, 
                  #f25022 50%, #7fba00 50%) left,
                linear-gradient(to bottom, 
                  #00a4ef 50%, #ffb900 50%) right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}