/* Html Classes */

.container-fluid {
  overflow: hidden;
}

/* Navbar */
nav.navbar {
  background-color: white;
}
nav.navbar img.logo{
  height: 2rem;
  weight: auto;
  opacity: 0.75;
}

/* Masthead */
header.masthead {
  position: relative;
  padding: 4rem 2rem 2rem; /* Top, right/left, bottom */
}
header.masthead h1 {
  font-size: 2rem;
}
.about-logo h1, .about-logo p {
  text-align: center;
  padding-left: 0rem;
}
@media (min-width: 768px) {
  header.masthead {
    position: relative;
    padding: 8rem 2rem 2rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
  .about-logo h1, .about-logo p {
    text-align: left;
    padding-left: 2rem;
  }
}

/* Features */
.features-icons .card {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
.features-icons .card:hover {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
  color: var(--main-color);
  text-shadow: 10px 10px 50px var(--accent-color);
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 3.5rem;
}
@media (min-width: 768px) {
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

/* About team */
.about-team .about-header p {
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  .about-team .about-header p {
    font-size: 1.5rem;
  }
}
/* About member photo hover animation */
.about-team .about-pfp {
  overflow: hidden;
}
.about-team .about-pfp img{
  transition: all 0.5s ease;
  box-shadow: 5px 5px 0px var(--accent-color);
}
.about-team .about-pfp:hover img{
  transform: scale(1.1);
}
.about-team .about-member{
  border: 0px;
}
.about-team .about-link:hover{
  box-shadow: 2px 2px 5px var(--main-color);
}
.about-link {
  font-size: 1.25rem;
}
/* About info box */
.about-team .about-info {
  border: 3px solid var(--accent-color);
  border-radius: 0%;
}
.about-team .about-info p {
  font-size: 0.9rem;
}
.about-team .about-info:hover {
  box-shadow: 4px 4px 10px var(--accent-color);
}
@media (min-width: 768px) {
  .about-team .about-info p {
    font-size: 1rem;
  }
}

/* Feedback form */
.faqs .faqs-content h5 {
  font-size: 1.1rem;
}
.faqs .faqs-content p {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .faqs .faqs-content h5 {
    font-size: 1.2rem;
  }
  .faqs .faqs-content p {
    font-size: 1rem;
  }
}

/* Feedback form */
.feedback .feedback-header p {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .feedback .feedback-header p {
    font-size: 1.25rem;
  }
}
