{% comment %}
Component that handles the messages at the top of the screen (e.g. "Successfully updated your review!")
Included in base.html, which means it can go anywhere, but notably used in review submission messages.
{% endcomment %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'base/messages.css' %}"/>
{% endblock %}

{% if messages %}
    <div class="content">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}
