{% extends "base/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'about/about.css' %}" />
{% endblock %}

{% block js %}
<script src="{% static 'about/javascript/switch-subcontent.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="about-logo">
        <img src="{% static 'base/img/new_logo.png' %}" height="150px">
        <h1>theCourseForum</h1>
      </div>
      <hr>
      <p style="text-align: left;"><b>theCourseForum</b> is a place for
        University of Virginia students to share their academic experiences.
        These are captured in the form of course reviews, which provide insight,
        advice, and caution to students before course enrollment. We believe
        that reading <i>student</i> reflections is the best way to understand a class and
        its professor without actually experiencing it.
        <br> <br>
        <i>Of the students, by the students, for the students...</i>
      </p>
    </div>
  </div>
  <br>
  <div class="about-links">
    <div class="card">
      <!-- TODO: Create modal for application (sends to Slack) -->
      <a href="#">
        <i class="fas fa-users"></i>
        <p>Apply to tCF!</p>
      </a>
    </div>
    <div class="card">
      <a href="{% url 'new_review' %}">
        <i class="far fa-edit"></i>
        <p>Write a Review!</p>
      </a>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="tabs">
      <button class="btn" id="tCF-history-btn" onclick="showHistory()">
        <i class="fa fa-book"></i>
        <p>History</p>
      </button>
      <button class="btn active" id="tCF-current-team-btn" onclick="showCurrentTeam()">
        <i class="fa fa-code"></i>
        <p>Current Team</p>
      </button>
      <button class="btn" id="tCF-past-contributors-btn" onclick="showPastContributors()">
        <i class="fa fa-graduation-cap"></i>
        <p>Past Contributors</p>
      </button>
    </div>
    <div class="card-body">
      <div class="about-nav-content">
        {% include "about/history.html" %}
        {% include "about/current_team.html" %}
        {% include "about/contributors.html" %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
