{% block subcontent %}
{% load static %}

<div class="tCF-current-team text-center">

    <h1 class="my-5">Meet the Team</h1>

    <div class="executive-team jumbotron py-5 bg-light">
      <div class="container">
        <h3>Executive Team</h3>
        <hr/>
        <div class="row text-left">
          {% for member in executive_team %}
            <div class="col-lg-4 col-sm-6 d-flex">
              <div class="member card mb-4 shadow-sm flex-fill">
                <div class="pfp">
                  <img class="card-img-top" src="{% static 'about/team-pfps/'|add:member.img_filename %}" alt="{{ member.name }}">
                </div>
                <div class="card-body">
                  <h5 class="card-text">{{ member.name }}</h5>
                  <p class="card-text small">{{ member.role }}</p>
                  <p class="card-text small text-muted">Class of {{ member.class }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="executive-team jumbotron py-5 bg-light">
      <div class="container">
        <h3>Engineering Team</h3>
        <hr/>
        <div class="row text-left">
          {% for member in engineering_team %}
            <div class="col-lg-3 col-sm-6 d-flex">
              <div class="member card mb-4 shadow-sm flex-fill">
                <div class="pfp">
                  <img class="card-img-top" src="{% static 'about/team-pfps/'|add:member.img_filename %}" alt="{{ member.name }}">
                </div>
                <div class="card-body d-flex justify-content-between">
                  <span>
                    <h5 class="card-text">{{ member.name }}</h5>
                    <p class="card-text small text-muted">Class of {{ member.class }}</p>
                  </span>
                  <a class="text-muted" href="https://github.com/{{ member.github }}">
                    <h4><i class="fa fa-github"></i></h4>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="marketing-team jumbotron py-5 bg-light">
      <div class="container">
        <h3>Marketing & Design Team</h3>
        <hr/>
        <div class="row text-left">
          {% for member in marketing_team %}
            <div class="col-lg-3 col-sm-6 d-flex">
              <div class="member card mb-4 shadow-sm flex-fill">
                <div class="pfp">
                  <img class="card-img-top" src="{% static 'about/team-pfps/'|add:member.img_filename %}" alt="{{ member.name }}">
                </div>
                <div class="card-body">
                  <h5 class="card-text">{{ member.name }}</h5>
                  <p class="card-text small text-muted">Class of {{ member.class }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

</div>

{% endblock %}
