{% block subcontent %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'about/history/history.css' %}" />
{% endblock %}

<div class="tCF-history">
  <div class="grid">
    <h1 class="grid-header">History</h1>
    <img class="founders-img img-fluid" src="{% static 'about/history/tCF-2005-team.png' %}"/>
    <div class="founders-text">
      <h4>Founding</h4>
      <p>
        In Fall 2005, two University of Virginia students, Jeff Bordogna and
        Alan Webb had an idea for an app that would let UVA students share
        their classroom experiences.
      </p>
    </div>
    <img class="revival-img img-fluid" src="{% static 'about/history/tCF-2014-team.jpeg' %}"/>
    <div class="revival-text">
      <h4>Revival</h4>
      <p>
        In 2012-2013, a team of 6 student developers led by Justin Dao redesigned
        the site to bring it into the modern age using the Ruby on Rails framework.
        <br><br>
        <i>"Same dog, new tricks..." - Justin Dao</i>
      </p>
    </div>
    <img class="cio-img img-fluid" src="{% static 'about/history/tCF-2017-team.png' %}" />
    <div class="cio-text">
      <h4>CIO Era</h4>
      <p>
        In 2017, a successful year of recruitment and organizational growth
        resulted in UVA granting theCourseForum CIO status.
      </p>
    </div>
    <img class="revival2-img img-fluid" src="{% static 'about/history/tCF-2020-team.png' %}" />
    <div class="revival2-text">
      <h4>Revival 2.0</h4>
      <p>
        In Spring 2020, theCourseForum needed a fresh start. Under the
        leadership of Brian Yu, Sai Konuri, Brad Knaysi, and Jennifer Long, theCourseForum
        was re-built from scratch using the Python web-framework Django.
      </p>
    </div>
  </div>
</div>

{% endblock %}
