{% extends "base/base.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="browse container">
  <h1>Privacy Policy</h1>
  <h6>This policy is effective as of January 14, 2008.</h6>
  <div class="privacy-policy my-4 text-left">
    <h4>theCourseForum Privacy Policy</h4>
    <p>We built theCourseForum to make it easy to share course information with your
      fellow students. Our default privacy settings limit the use of your information.</p>
    <p>theCourseForum's Privacy Policy is designed to help you understand how we
      collect and use the personal information you decide to share, and help you make
      informed decisions when using theCourseForum, located at www.theCourseForum.com
      and its directly associated domains (collectively, "theCourseForum" or
      "Website").</p>
    <p>By using or accessing theCourseForum, you are accepting the
     practices described in this Privacy Policy.</p>
    <br/>
    <h4>The Information We Collect</h4>
    <p>When you visit theCourseForum you provide us with two types of
      information: personal information you knowingly choose to disclose that is
      collected by us and Web Site use information collected by us as you interact
      with our Web Site.</p>
    <p>When you register with theCourseForum, you provide us with certain
      personal information, such as your name, your email address, your major(s),
      and any other personal or preference information that you provide to us.</p>
    <p>When you enter theCourseForum, we collect your browser type and IP
      address. This information is gathered for all theCourseForum visitors. In
      addition, we store certain information from your browser using "cookies." A
      cookie is a piece of data stored on the user's computer tied to information
      about the user. We use session ID cookies to confirm that users are logged
      in. These cookies terminate once the user closes the browser.</p>
    <!-- Copy over remaining information here -->
    <!-- https://thecourseforum.com/privacy -->
  </div>
</div>
{% endblock %}
