{% block subcontent %}
{% load static %}

<div class="tCF-sponsors">
  <div class="grid">
    <h1 class="grid-header">Thanks to our Sponsors</h1>
    <div class="sponsors-text">
      <p>
        Our sponsors help us cover server costs from the large amount of traffic that we get.
        Their help has allowed the site to stay up and running continuously as we keep developing
        new features.
      </p>
      <hr>
    </div>
    <img class="sponsors-img1 img-fluid" src="{% static 'about/history/UVA-parents-fund-logo.png' %}"/>
    <img class="sponsors-img2 img-fluid" src="{% static 'about/history/UVA-student-council-logo.png' %}"/>
  </div>
</div>

{% endblock %}
