{% extends "base/base.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="browse container">
  <h1>Terms of Use</h1>
  <h6>Date of Last Revision: January 14, 2008.</h6>
  <div class="terms-of-use my-4 text-left">
    <p>Welcome to theCourseForum, a service that connects you with the courses you
      love. The theCourseForum service and network (collectively, "theCourseForum" or
      "the Service") are operated by theCourseForum and its affiliates (collectively,
      "us", or "we"). By accessing or using our web site at www.theCourseForum.com
      (together the "Site"), you (the "User") signify that you have read, understand
      and agree to be bound by these Terms of Use ("Terms of Use" or "Agreement"),
      whether or not you are a registered member of theCourseForum.</p>
    <p>We reserve the
      right, at our sole discretion, to change, modify, add, or delete portions of
      these Terms of Use at any time without further notice. If we do this, we will
      post the changes to these Terms of Use on this page and will indicate at the top
      of this page the date these terms were last revised. Your continued use of the
      Service or the Site after any such changes constitutes your acceptance of the
      new Terms of Use. If you do not agree to abide by these or any future Terms of
      Use, do not use or access (or continue to use or access) the Service or the
      Site. It is your responsibility to regularly check the Site to determine if
      there have been changes to these Terms of Use and to review such changes.</p>
    <p>Please read these terms of use carefully as they contain important
      information regarding your legal rights, remedies and obligations. These
      include various limitations and exclusions, and a dispute resolution clause
      that governs how disputes will be resolved.</p>
    <br/>
    <h4>Eligibility</h4>
    <p>Membership in the Service is void where prohibited. This Site is intended
      solely for users who are thirteen (13) years of age or older, and users of
      the Site under 18 who are currently in college. Any registration by, use of
      or access to the Site by anyone under 13, or by anyone who is under 18 and
      not in college, is unauthorized, unlicensed and in violation of these Terms
      of Use. By using the Service or the Site, you represent and warrant that you
      are 13 or older and in college, or else that you are 18 or older, and that
      you agree to and to abide by all of the terms and conditions of this
      Agreement.</p>
    <!-- Copy over remaining information here -->
    <!-- https://thecourseforum.com/terms_of_use -->
  </div>
</div>
{% endblock %}
