{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>theCourseForum</title>

    <link rel="stylesheet" href="{% static 'base/base.css' %}" />

    {% block styles %}
    {% endblock %}
</head>
<body class="body">
    {% block navbar %}
        <div class="navbar">
            <a href="{% url 'browse' %}"><h1>theCourseForum</h1></a>
            {% if request.user.is_authenticated %}
            <h3>You're logged in!</h3>
            {% endif %}
        </div>
    {% endblock %}
    <div class="content">
        {% block content %}
        <p>Base content.</p>
        {% endblock %}
    </div>
    <footer>
        <div class="row pad">
            <div class="col-lg-12 text-center" style="color: black;">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                {% endif %}
                theCourseForum | 2020
            </div>
        </div>
    </footer>
</body>
{% block js %}
{% endblock %}
</html>
