{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>theCourseForum</title>
    <link rel="icon" 
      type="image/png" 
      href="{% static 'base/img/logo-orange-small.png' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'base/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'base/simple-sidebar.css'%}">
    <link rel="stylesheet" href="{% static 'base/base.css' %}" />

    {% block styles %}
    {% endblock %}
</head>
<body class="body">
    <div class="d-flex" id="wrapper">

      {% include "base/sidebar.html" %}

      <!-- Page Content -->
      <div id="page-content-wrapper">

        {% include "base/navbar.html" %}
        <div class="content p-4 container-fluid text-center text-md-left h-100">
            <div class="row h-100">
            {% block content %}
            <p>Base content goes here.</p>
            {% endblock %}
            </div>
        </div>

      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="{% static 'base/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'base/bootstrap.bundle.min.js' %}"></script>
    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    {% block js %}
    {% endblock %}
</body>
</html>
