<!-- under construction pop up (modal) -->
<div class="modal fade" id="comingSoonModal" tabindex="-1" role="dialog" aria-labelledby="comingSoonModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="container">
          <div class="row text-center justify-content-center">
            <h5>Sorry!</h5>
          </div>
          <div class="row text-center justify-content-center">
            <p> This feature is currently under construction. <br> Thanks for your patience! </p>
          </div>
          <div class="row justify-content-center">
            <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
