{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>theCourseForum</title>
    <link rel="icon"
      type="image/png"
      href="{% static 'base/img/new_logo.png' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'base/bootstrap.min.css' %}" />
    <script src="https://kit.fontawesome.com/ed3998fccc.js" crossorigin="anonymous"></script>

    <!-- tCF Custom Styling -->
    <link rel="stylesheet" href="{% static 'base/tcf-style.css' %}" />
    <!-- Google Fonts: Lato, Open Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    {% block basestyles %}
    {% endblock %}

    {% block styles %}
    {% endblock %}
</head>

<body class="body">
  {% block body %}
  {% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'base/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'base/bootstrap.bundle.min.js' %}"></script>

  {% block basejs %}
  {% endblock %}

  {% block js %}
  {% endblock %}
</body>

</html>
