{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'base/navbar.css' %}" />
{% endblock %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    <!-- tCF logo -->
    <a class="navbar-brand logo-container mx-auto" href="/">
      <img class="logo" src="{% static 'base/img/new_logo.png' %}" alt="theCourseForum home">
    </a>

    <!-- tCF search -->
    {% include "search/searchbar.html" %}

    <!-- tCF navbar toggler -->
    <button class="navbar-toggler menu" id="menu-toggle">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- tCF profile dropdown -->
    <div class="account-settings">
      {% if user.is_authenticated %}
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
            Hey, {{user.first_name}}!
          </a>
          <div class="dropdown-menu settings" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
            <a class="dropdown-item" href="{% url 'reviews' %}">My Reviews</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>
        {% else %}
        <div class="nav-item">
          <a class="nav-link" href="#loginModal" data-toggle="modal">Sign In</a>
        </div>
      {% endif %}
    </div>
  </nav>
</header>
