<!-- tCF profile dropdown -->
<div class="account-settings">
    {% if user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
          Hey, {{user.first_name}}!
        </a>
        {% include "base/profile_dropdown.html" %}
      </div>
      {% else %}
      <div class="nav-item">
        <a class="nav-link" href="#loginModal" data-toggle="modal">Sign In</a>
      </div>
    {% endif %}
</div>
