.rating-card-link {
    background-color: var(--secondary-color);
    color: #EBEBEB;
}

.rating-card-link:hover {
    background-color: var(--main-color);
    color: #EBEBEB;
}

.rating-card, .rating-card-link {
    border-radius: 5px;
}

.rating-card .info {
    font-size: 1.25rem;
}

small {
    color: var(--accent-color);
}