.btn-primary {
    background-color: var(--accent-color);
    border-color: #c14d22;
}

.btn-primary:hover {
    background-color: var(--accent-color);
    border-color: #8d3919;
    filter: brightness(90%);
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgb(247, 131, 90, 0.5) !important;
}

.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    background-color: var(--accent-color) !important;
    border-color: #8d3919 !important;
    filter: brightness(90%);
}

.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgb(247, 131, 90, 0.5) !important;
}
