{% extends "base/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'department/department.css' %}" />
<link rel="stylesheet" href="{% static 'common/rating_card.css' %}" />
<link rel="stylesheet" href="{% static 'common/show-hide.css' %}" />
<link rel="stylesheet" href="{% static 'common/toolbar.css' %}" />
{% endblock %}

{% block content %}

<div class="department container">
    <div class="tcf-toolbar btn-toolbar justify-content-between mb-3" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'browse' %}">{{ department.school.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ department.name }}</li>
            </ol>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" id="hide-btn" onclick="hideOld()" class="btn btn-outline-dark active">{{latest_semester}}</button>
            <button type="button" id="show-btn" onclick="showOld()" class="btn btn-outline-dark">Last 5 Years</button>
        </div>
      </div>

    <div class="subdepartments mt-3">
        {% for sd in department.subdepartment_set.all %}
        <div class="subdepartment container-lg {% if not sd.has_current_course %}old{% endif %}">
            <h3>{{ sd.name }}</h3>
            <ul class="course-list">
                {% for c in sd.recent_courses|dictsort:"number" %}
                    <li class="{% if not c.is_recent %}old{% endif %}">
                        {% url 'course' course_id=c.pk as link %}
                        {% include "common/rating_card.html" with title=c.code subtitle=c.title link=link last_taught=c.semester_last_taught content=c.description prefix='course' pk=c.pk %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'common/show-hide.js' %}"></script>
{% endblock %}