<li>
  <div class="card rating-card mb-2">
    <div class="row no-gutters">
      <a
        class="col-md-4 pl-3 pr-3 card-body d-flex justify-content-center justify-content-lg-start align-items-center rating-card-link"
        href="{% url 'course' course.subdepartment.mnemonic course.number %}"
      >
        <div class="text-center text-lg-left">
          <h3 id="title">{{ course.subdepartment.mnemonic }} {{ course.number }}</h3>
          <h5>{{ course.title }}</h5>
        </div>
      </a>
      <div class="col-md-8">
        <div class="card-body">
          <div class="row justify-content-between text-center text-md-left">
            <div class="col-4 col-lg-2 text-nowrap">
              <small class="mb-0 text-uppercase">
                <i class="fa fa-star fa-fw" aria-hidden="true"></i>&nbsp;Rating
              </small>
              <p class="mb-0 info" id="rating">
              {% if course.average_rating %}
              {{ course.average_rating|floatformat:2 }}
              {% else %}
              —
              {% endif %}
              </p>
            </div>
            <div class="col-4 col-lg-2 text-nowrap">
              <small class="mb-0 text-uppercase">
                <i class="fa fa-dumbbell fa-fw" aria-hidden="true"></i
                >&nbsp;Difficulty
              </small>
              <p class="mb-0 info" id="difficulty">
              {% if course.average_difficulty %}
              {{ course.average_difficulty|floatformat:2 }}
              {% else %}
              —
              {% endif %}
              </p>
            </div>
            <div class="col-4 col-lg-2 text-nowrap">
              <small class="mb-0 text-uppercase">
                <i class="fas fa-chart-bar" aria-hidden="true"></i>&nbsp;GPA
              </small>
              <p class="mb-0 info" id="gpa">Avg. GPA</p>
            </div>
            <div class="col-12 col-lg-3 offset-lg-3">
              <small class="mb-0 text-uppercase"> Last Taught </small>
              <p class="mb-0 info">{{ course.semester_last_taught}}</p>
            </div>
          </div>
          <p class="card-text mt-2">{{ course.description }}</p>
        </div>
      </div>
    </div>
  </div>
</li>
