{% extends "base/base.html" %}
{% load static %}

{% block title %}{{breadcrumbs.1.0}} - theCourseForum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'department/department.css' %}" />
<link rel="stylesheet" href="{% static 'common/rating_card.css' %}" />
<link rel="stylesheet" href="{% static 'common/show-hide.css' %}" />
{% endblock %}

{% block content %}

<div class="department container">
  <div class="container-lg mb-4">
    {% include "../common/leaderboard_ad.html" with ad_slot="3719332473" %}
  </div>
  <div class="container-lg">
    {% include "common/toolbar.html" with active_course_age=active_course_age latest_semester=latest_semester last_five_years=last_five_years dept_id=dept_id breadcrumbs=breadcrumbs sorting=True %}
  </div>
  <div class="subdepartments mt-3">
    <div class="subdepartment container-lg">
      <ul class="course-list">
        {% for course in courses %} 
          {% include "department/department_course.html" with course=course %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
