{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'schedule/course_section_modal.css' %}" />
{% endblock %}

<div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="addCourseModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Select a Section for <strong>{{course}}</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>User ID: {{user_id}}</p>

            <form id="select_section_form" action="{% url 'schedule_add_course' %}" method="POST" data-course-id="{{ course.id }}">
                {% csrf_token %}
                <input type="hidden" id="schedule_id_input" name="schedule_id" value="">
                
            </form>

        </div>
        <div class="modal-footer">
            <button id="section_select_btn" form="select_section_form" type="submit" value="Submit" class="btn btn-primary" disabled>
                Confirm
            </button>
        </div>
      </div>
    </div>
</div>

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('select_schedule_form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            var selectedSchedule = form.querySelector('input[type="radio"][name="selected_schedules"]:checked').value;
            var courseId = form.getAttribute('data-course-id');

            fetch("{% url 'modal_load_sections' %}?course_id=" + courseId, {
                method: 'GET',
                headers: {
                    'X-CSRFToken': '{{csrf_token}}'
                }
            })
            .then(resp => resp.json())
            .then(data => {
                document.getElementById('schedule_id_input').value = selectedSchedule;
                section_form = document.getElementById('select_section_form');

                // iterate over all returned instructors and create the html cards for them
                // TODO: check to see if something is returned and that it's not null
                for(const [insId, insInfo] of Object.entries(data)) {
                    // create the card that will contain all info for a given instructor
                    var instructorDiv = document.createElement('div');
                    instructorDiv.className = "modal_instructor_card";
                    instructorDiv.id = "modal_instructor_card" + insId;

                    // create the title of the card as the instructor's name
                    var instructorName = document.createElement('h6');
                    instructorName.textContent = insInfo.name;
                    instructorDiv.appendChild(instructorName);

                    // create a hidden input to store the instructor's id
                    var instructorId = document.createElement('input');
                    instructorId.type = "hidden";
                    instructorId.value = insId;

                    var sectionsList = document.createElement('ul');

                    insInfo["sections"].forEach(encoded_section => {
                        var decoded_section = encoded_section.split(" /% ")
                        var section_id = decoded_section[0];
                        var section_num = decoded_section[1];
                        var section_time = decoded_section[2].slice(0,-1);

                        var li = document.createElement('li');
                        var lab = document.createElement('label');
                        lab.textContent = section_time;
                        var input = document.createElement('input');
                        input.type = "radio";
                        input.name = "selected_course";
                        input.value = `{"instructor": ${insId}, "section": ${section_id}, "section_time":"${section_time}"}`;

                        lab.appendChild(input);
                        li.appendChild(lab);
                        sectionsList.appendChild(li);
                    });

                    
                    instructorDiv.appendChild(sectionsList);
                    section_form.appendChild(instructorDiv);
                }

                // close the select schedule modal and then open the course modal
                $('#selectScheduleModal').modal('hide');
                setTimeout(function() {
                    $('#addCourseModal').modal('show');
                }, 400);
            })
            .catch(error => console.error('Error:', error));

        })

    })

    // this will prevent a submit without a selection
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('select_section_form');
        var submitButton = document.getElementById('section_select_btn');

        // Function to check the inputs and enable the button if criteria is met
        function updateButtonState() {
            var inputs = form.querySelectorAll('input[type="radio"]');
            var isAnyInputFilled = Array.from(inputs).some(radio => radio.checked);
            submitButton.disabled = !isAnyInputFilled;
        }

        // Event listener for changes in the form
        form.addEventListener('change', updateButtonState);

        // Initial check in case the form is pre-filled
        updateButtonState();
    });

    // this will use a listener to send the form data to the view
    document.getElementById('select_section_form').addEventListener('submit', function(event) {
        event.preventDefault();

        var formData = new FormData(this);

        fetch(this.action, {
            method: 'POST',
            body: formData
        })
        .then(resp => {
            if (resp.ok) {
                $('#addCourseModal').modal('hide');
            } else {
                console.error("There was an error");
            }
        })
    })

</script>
{% endblock %}