{% load custom_tags %}
{% load static %}

<div class="modal fade" id="editScheduleModal" tabindex="-1" role="dialog" aria-labelledby="editScheduleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Schedule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="second-modal-body" class="modal-body">
          
        </div>
            <div class="modal-footer">
              <button id="schedule_edit_btn" form="edit_schedule_form" type="submit" value="Submit" class="btn btn-primary">
                Save
              </button>
            </div>
      </div>
    </div>
</div>


<script>
  // const submitButton = document.getElementById('schedule_edit_btn');
  // submitButton.addEventListener('DOMContentLoaded', function() {
  //   event.preventDefault();
  //   console.log("submitted");
  // });
</script>
