{% load custom_tags %}
{% load static %}
{% block content %}

<div>
    {% include "schedule/schedule.html" with mode="edit" schedule=schedule courses=schedule_courses rating=schedule_ratings difficulty=schedule_difficulty credits=schedule_credits %}
</div>
<form id="edit_schedule_form" action="{% url 'edit_schedule' %}" method="POST" data-course-id="{{ course.id }}">
    {% csrf_token %}
    
    <input type="hidden" id="schedule_id_input" name="schedule_id" value="{{schedule.id}}">
    <div>
        <label for="schedule_name_input">Schedule Name: </label>
        <input type="text" id="schedule_name_input" name="schedule_name" value="{{schedule.name}}">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Instructor</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="courses_lists">
            {% for course in schedule_courses %}
                <tr class="course-row" course_id="{{course.id}}" course_rating="{{course.total_rating}}" course_diff="{{course.difficulty}}" course_credits="{{course.credits}}">
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{course.instructor}}</td>
                    <td>{{course.time}}</td>
                    <td>
                        <button type="button" class="btn btn-danger remove-course-btn">Remove Course</button>
                    </td>
                    
                </tr>
            {% endfor %}
    
        </tbody>
    </table>

</form>

{% endblock %}
<script src="{% static 'schedule/parse_time.js' %}"></script>
<script>

    function updateStats() {
        // this function will take the courses included in the course table
        // and recalculate the ratings, difficulty, and credit totals
        // NOTE: the criteria for which courses to remove is when they are hidden

        let rating = 0;  // the running total of ratings for the current schedule
        let r_count = 0;  // the count of the number of valid course rows for ratings
        let credit = 0;  // the running total of credits for the current schedule
        let difficulty = 0;  // the running total of difficultys for the current schedule
        let d_count = 0;  // the count of the number of valid course rows for difficultys

        // get the course rows from the table, and filter the ones that are hidden
        let courses = Array.from(document.querySelectorAll('.course-row')).filter(function(course) {
            return window.getComputedStyle(course).display !== 'none'
        });
        courses.forEach(course => {
            let courseRating = parseFloat(course.getAttribute("course_rating"));
            let courseCredits = parseInt(course.getAttribute("course_credits"));
            let courseDifficulty = parseFloat(course.getAttribute("course_diff"));

            // if there is a valid rating and difficulty, increment it's count and accumulate
            if (courseRating){
                rating += courseRating
                r_count++;
            }
            if (courseDifficulty){
                difficulty += courseDifficulty
                d_count++;
            }
            credit += courseCredits
        });
        // See if rating and difficulty were changed
        if (rating) {
            rating = rating / r_count;
        }
        if (difficulty) {
            difficulty = difficulty / d_count;
        }
        
        // fetch the schedule rating HTML element from the schedule template that is loaded into this page
        const scheduleRating = document.getElementById('ScheduleRating-edit');
        scheduleRating.innerText = "Schedule Rating: "+ rating.toFixed(2);

        const scheduleCredits = document.getElementById('ScheduleCredits-edit');
        scheduleCredits.innerText = "Credits: "+ credit;

        const scheduleDifficulty = document.getElementById('ScheduleDifficulty-edit');
        scheduleDifficulty.innerText = "Schedule Difficulty: "+ difficulty.toFixed(2);
    }

    // attach an event listener to every remove button
    document.querySelectorAll('.remove-course-btn').forEach(button => {
        button.addEventListener('click', function () {
            const courseRow = this.closest('.course-row');
            const courseId = courseRow.getAttribute('course_id');

            // Create a hidden input to indicate that this course ID should be removed
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'removed_course_ids[]';
            hiddenInput.value = courseId;

            // Append the hidden input to the form (assuming your form has a specific ID)
            courseRow.appendChild(hiddenInput);
            courseRow.style.display = 'none'; // hide from the table

            // Get the course from the schedule card template, notice we use 
            // the mode included in the context of the schedule template above
            const scheduledCourse = document.getElementById(`ScheduledCourse-${courseId}edit`);
            scheduledCourse.remove(); // Remove the course in the schedule card

            updateStats(); // update the labels for the schedule card
        });
    });

</script>