{% load static %}

<div class="modal fade" id="selectScheduleModal" tabindex="-1" role="dialog" aria-labelledby="selectScheduleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Schedule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal-body" class="modal-body">
            
        </div>
      </div>
    </div>
</div>



{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'schedule/load_schedule_select.js' %}"></script>
<script>
    $(document).ready(function() {
        // urls variables that get passed into the static JS file
        var modal_fetch_url = "{% url 'modal_load_schedules' mode=mode %}";
        var modal_submit_url = "";
        var next_modal_id = "";
        if( '{{mode}}' == "add_course"){
            modal_submit_url = "{% url 'modal_load_sections' %}?course_id=";
            next_modal_id = '#addCourseModal';
        } else if( '{{mode}}' == "edit_schedule") {
            modal_submit_url = "{% url 'edit_schedule' %}";
			next_modal_id = '#editScheduleModal';
        } else {
            console.error("invalid or missing mode");
        }

        // Event listener for the button
        $('#open_select_modal_button').on('click', function() {
            // this function is in the static file included in this template
            loadModal(modal_fetch_url, modal_submit_url, next_modal_id,'{{ course.id }}');
        });

    });

</script>
{% endblock %}
