{% extends "base/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}Make a Schedule - theCourseForum{% endblock %}


{% block content %}
<div class="my-reviews container mx-auto">
    {% include "../common/leaderboard_ad.html" with ad_slot="4899960156" %}
    <div class="my-reviews-header d-flex flex-sm-row flex-column mb-4">
        <h1 class="h2 mt-2 mb-0" id="schedule_header">My Schedules</h1>
        <div class="ml-sm-auto d-flex justify-content-end">
            <a class="ml-2 mt-2 btn bg-tcf-orange text-white" id="new_schedule_button" type="button"
                data-toggle="modal" data-target="#createScheduleModal" >
                    <i class="fas fa-plus" aria-hidden="true" style="width: 1em; height: 1em; vertical-align: middle; display: inline-block; filter: invert(100%) brightness(150%);"></i> New 
            </a>
            <a class="ml-2 mt-2 btn bg-tcf-orange text-white" id="open_select_modal_button" type="button"
                data-toggle="modal" data-target="#selectScheduleModal" >
                    <i class="fa fa-pencil" aria-hidden="true" style="width: 1em; height: 1em; vertical-align: middle; display: inline-block; filter: invert(100%) brightness(150%);"></i> Edit 
            </a>
            <a class="ml-2 mt-2 btn bg-tcf-orange text-white" id="delete_schedule_button" type="button"
                    data-toggle="modal" data-target="#deleteScheduleModal" >
                        <i class="fa fa-trash-o" aria-hidden="true" style="width: 1em; height: 1em; vertical-align: middle; display: inline-block; filter: invert(100%) brightness(150%);"></i> Delete 
            </a>
        </div>
    </div>
    {% include "schedule/select_schedule_modal.html" with schedules=schedules user_id=user.id mode="edit_schedule"%}
    {% include "schedule/edit_schedule_modal.html" with user_id=user.id %}
    {% include "schedule/create_schedule_modal.html" with user_id=user.id %}
    {% include "schedule/delete_schedule_modal.html" with schedules=schedules courses=courses user_id=user.id ratings=ratings difficulty=difficulty %}

    <!-- this schedule list is just for listing the user's schedules -->
    <ul class="review-list list-unstyled">
        {% for s in schedules %}
        <li>
            <div class="card mb-4">
                {% include "schedule/schedule.html" with courses=courses|get_item:s.id gpa=schedules_gpa|get_item:s.id rating=ratings|get_item:s.id difficulty=difficulty|get_item:s.id schedule=s credits=credits|get_item:s.id %}
                <div class="d-flex justify-content-center mt-1 mb-2">
                    <a href="{% url 'duplicate_schedule' s.id %}" class=" btn bg-tcf-orange text-white" type="button">
                        <i class="fas fa-copy" aria-hidden="true"></i> Duplicate 
                    </a>
                </div>

            </div>
        </li>
        {% empty %}
        <div>You haven't made any schedules yet!</div>
        {% endfor %}
    </ul>
</div>

<script src="{% static 'schedule/schedule_select_script.js' %}"></script>
<script>
    // this function included in the schedule_select_script.js
    document.addEventListener('DOMContentLoaded', modalFunctions("", "edit_schedule", "{% url 'modal_load_editor' %}"));
</script>
{% endblock %}
