{% extends "base/base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}Make a Schedule - theCourseForum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'schedule/schedule_stats.css' %}" />
{% endblock %}

{% block content %}
<div class="my-reviews container mx-auto">
    <div class="my-reviews-header d-flex flex-sm-row flex-column mb-4">
        <h1 class="h2 mt-2 mb-0" id="schedule_header">My Schedules</h1>
        <div class="ml-sm-auto d-flex justify-content-end">
            <a class="ml-2 mt-2 btn bg-tcf-orange text-white" id="new_schedule_button" href="{% url 'new_schedule' %}" >
                <i class="fas fa-plus" aria-hidden="true"></i> New 
            </a>
            <a class="ml-2 mt-2 btn bg-tcf-orange text-white" id="edit_schedule_button" href="{% url 'new_review' %}" >
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit 
            </a>
            <a class="ml-2 mt-2 btn bg-tcf-orange text-white" id="delete_schedule_button" type="button"
                    data-toggle="modal" data-target="#deleteScheduleModal" >
                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete 
            </a>
        </div>
    </div>
    <!-- {% include "reviews/review_stats.html" with total_reviews_written=total_reviews_written total_review_upvotes=total_review_upvotes average_review_rating=average_review_rating %} -->
    {% include "schedule/schedules.html" with schedules=schedules courses=courses profile=True select=False%}
    {% include "schedule/delete_schedule_modal.html" with schedules=schedules courses=courses user_id=user.id ratings=ratings difficulty=difficulty %}
</div>
{% endblock %}
