.schools {
    margin-top: 30px;
}

.department-list {
    list-style-type: none;
    padding: 0 0 0 10px;
}

@media (min-width: 768px) {
    .department-list {
        columns: 2;
    }
}

.school > .card-header {
    background-color: rgb(91, 129, 182);
    color: #EBEBEB;
}