.schools {
    margin-top: 30px;
}

.department-list {
    list-style-type: none;
    padding: 0 0 0 10px;
}

.font-weight-bold {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .department-list {
        columns: 2;
    }
}

.school > .card-header {
    background-color: var(--secondary-color);
    color: white;
}
