/*
  This file contains all css pertaining to the
  about page. Please keep the css isolated here
  to improve maintainability within theCourseForum.
*/

.about-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0px 20px 0px;
}

.about-logo > h1 {
  font-size: 40pt;
  margin-top: 23px;
  margin-left: 25px;
}

.about-links {
  display: flex;
  justify-content: space-evenly;
}

.about-links > .card {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  transform: scale3d(1.0, 1.0, 1.0);
  transition: transform .2s;
}

.about-links > .card:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.about-links > .card > a {
  width: auto;
  height: inherit;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-links > .card > a > i {
  font-size: 5em;
}

.about-links > .card > a > p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}

.tabs > button {
  flex: 1;
  border: none;
  border-radius: 0px;
  background-color: rgb(210, 210, 210)
}

.tabs > button:hover {
  color: #db4929;
}

.tabs > button.active {
  background-color: #ffffff;
}

.tabs > button:focus {
  box-shadow: none;
}

.tabs > button > i {
  font-size: 3em;
  padding: 10px 0px 5px 0px;
}

@media (max-width: 500px) {

  .about-logo > h1 {
    font-size: 25pt;
    margin-left: 0px;
  }

  .about-links > .card {
    width: 8em;
    height: 8em;
  }

  .about-links > .card > a > i {
    font-size: 3em;
  }

  .about-links > .card > a > p {
    font-size: 10pt;
  }

  .tabs > button > i {
    font-size: 2em;
  }

  .tabs > button > p {
    font-size: 8pt;
  }

}

.pfp {
    overflow: hidden;
}
.pfp img{
    transition: all 0.5s ease;
}
.pfp:hover img{
    transform: scale(1.1);
}
.member:hover{
    box-shadow: 2px 2px 5px #888888 !important;
}

.fit-image{
  width: 100%;
  object-fit: cover;
}

.history-img{
  overflow: hidden;
  opacity: 0.8;
}

/*
  CRITICAL to the about page subcontent tabs working
*/
.tCF-current-team {
  display: none;
}
.tCF-current-team.shown {
  display: block;
}
.tCF-history {
  display: none;
}
.tCF-history.shown {
  display: block;
}
.tCF-past-contributors {
  display: none;
}
.tCF-past-contributors.shown {
  display: block;
}
