/*
  This file contains all css pertaining to the
  about page. Please keep the css isolated here
  to improve maintainability within theCourseForum.
*/

.about-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-logo > h1 {
  font-size: 40pt;
  margin-top: 23px;
  margin-left: 25px;
}

@media (max-width: 500px) {
  .about-logo > h1 {
    font-size: 25pt;
    margin-left: 0px;
  }
}

.support {
  display: flex;
  justify-content: space-evenly;
}

.support > .card {
  border-radius: 50%;
  transform: scale(1.0);
  transition: transform .2s;
  /* transition-timing-function: ease; */
}

.support > .card:hover {
  transform: scale(1.1);
}

.support > .card > a {
  padding: 30px;
  border-radius: 50%;
}

.about-nav .about-nav-item a {
  color:rgb(201, 93, 48);
}

.about-nav-item:hover{
  color:rgb(23, 34, 72);
  border-bottom:8px solid rgb(23, 34, 72);
}

.pfp {
    overflow: hidden;
}
.pfp img{
    transition: all 0.5s ease;
}
.pfp:hover img{
    transform: scale(1.1);
}
.member:hover{
    box-shadow: 2px 2px 5px #888888 !important;
}

.fit-image{
  width: 100%;
  object-fit: cover;
}

.history-img{
  overflow: hidden;
  opacity: 0.8;
}
