<!-- Adblock modal (imported in index.html) -->
{% load static %}
<div class="modal fade" id="adblockModal" tabindex="-1" role="dialog" aria-labelledby="adblockModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center pt-4 pb-4">
                <img src="{% static 'base/img/new_logo.svg' %}" alt="theCourseForum" class="img-fluid mb-3" style="max-height: 60px;">
                <h5 class="mb-3">Ad Blocker Detected</h5>
                <p class="mb-4">We rely on ads to keep our servers running. Please disable your ad blocker to continue using theCourseForum.</p>
                <button onclick="location.reload();" class="btn btn-primary bg-tcf-indigo pl-4 pr-4">I've Disabled It</button>
            </div>
        </div>
    </div>
</div>
