<div id="notification-panel" role="alert"
     class="alert alert-info alert-dismissible text-left fade show">
  <h4 class="alert-heading">Apply to the team!</h4>
  <p>
    Our Fall 2021 recruitment has started up! Applications will be open from 09/03 to 09/24. We are looking for UVA students
    for both our dev and design/marketing teams who are committed to helping make the site better. Students of any year,
    background, and experience are welcome to apply.
  </p>
  <hr>
  <p class="mb-0 text-inline">
    To learn more and join the team, submit an application!
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScHIB3uqf2qVKp7gMTdPSMYK4yUg1wotXht_-j-9yRQ3_y-uw/viewform" class="btn btn-sm btn-info ml-2">
      Apply here <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </p>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>