<div id="notification-panel" role="alert"
     class="alert alert-info alert-dismissible text-left fade show">
  <h4 class="alert-heading">Apply to the team!</h4>
  <p>
    Our Fall 2022 recruitment has started up! We are looking for UVA students for both our dev and design/marketing teams 
    who are committed to helping make the site better. Come to our interest meeting this <b><u>Thursday (9/1) 7pm in Olsson 120</u></b> 
    for more information about the team and open positions!
    <!-- Students of any year, background, and experience are welcome to apply. -->
  </p>
  <hr>
  <p class="mb-0 text-inline">
    To learn more and join the team, submit an application!
    <a href="https://forms.gle/pnz9drH8oj1PGvha6" class="btn btn-sm btn-info ml-2">
      Apply here <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </p>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
