<!-- Donate page modal (imported in index.html) -->
{% load static %}
<div class="modal fade" id={{ path_id }} tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    We keep our servers running through university grants and your donations.
                    Just $4 keeps our servers up for a day, so we can keep serving you the best content.
                </div>
                <div class="text-center">
                    <img src="{% static 'landing/Zelle_qr.jpg' %}" alt="Zelle QR Code" class="img-fluid" style="width: 80%;">
                    <a href="https://enroll.zellepay.com/qr-codes?data=eyJuYW1lIjoiVEhFQ09VUlNFRk9SVU0iLCJhY3Rpb24iOiJwYXltZW50IiwidG9rZW4iOiJza3g3c2FAdmlyZ2luaWEuZWR1In0=" class="btn btn-primary bg-tcf-indigo">Zelle Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
