<div class="card rating-card mb-2" style="background-color: white">
    <div class="row no-gutters">
        <a class="col-md-4 pl-3 pr-3 card-body d-flex justify-content-center justify-content-lg-start align-items-center rating-card-link" style="background-color: white">
            <div class="grey-box" style="background-color: #f0f0f0; width: 100%; height: 90%; border-radius: 5px;"></div>
        </a>
        <div class="col-md-8">
            <div class="card-body">
                <div class="row justify-content-between text-center">
                    <div class="col-4 col-lg-2 text-nowrap">
                        <div class="grey-box" style="background-color: #f0f0f0; width: 100%; height: 40px; border-radius: 5px;"></div>
                    </div>
                    <div class="col-4 col-lg-2 text-nowrap">
                        <div class="grey-box" style="background-color: #f0f0f0; width: 100%; height: 40px; border-radius: 5px;"></div> 
                    </div>
                    <div class="col-4 col-lg-2 text-nowrap">
                        <div class="grey-box" style="background-color: #f0f0f0; width: 100%; height: 40px; border-radius: 5px;"></div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-2 text-nowrap"></div>
                    <div class="col-12 col-md-8 col-lg-3">
                        <div class="grey-box" style="background-color: #f0f0f0; width: 100%; height: 100%; border-radius: 5px;"></div> 
                    </div>
                </div>
                <div class="grey-line" style="background-color: #f0f0f0; height: 12px; margin: 25px 0px; width: 30%; border-radius: 10px; "></div>
                <div class="grey-line" style="background-color: #f0f0f0; height: 12px; margin-top: 10px; width: 100%; border-radius: 10px;"></div> 
                <div class="grey-line" style="background-color: #f0f0f0; height: 12px; margin-top: 10px; width: 100%; border-radius: 10px;"></div>
                <div class="grey-line" style="background-color: #f0f0f0; height: 12px; margin-top: 10px; width: 100%; border-radius: 10px;"></div>
            </div>
        </div>
    </div>
</div>