<div id="notification-panel" role="alert"
     class="alert alert-success alert-dismissible text-left fade show">
    <h4 class="alert-heading">Login is Fixed!</h4>
    <p>
        Microsoft logins are now working again!
        All underclassmen should be able to register now.
        <br/>
        <br/>
        If there is still an issue with login, please email <a style="text-decoration:underline" href=mailto:“info@thecourseforum.com”>info@thecourseforum.com</a> for support.
    </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
