<div id="notification-panel" role="alert"
     class="alert alert-info alert-dismissible text-left fade show">
  <h4 class="alert-heading">Apply to the marketing team!</h4>
  <p>
    Our Fall 2021 recruitment for the marketing team has started up! Applications will be open from 10/26 to 11/09. We are looking for UVA students
    who are committed to helping make the site better. Students of any year,
    background, and experience are welcome to apply.
  </p>
  <hr>
  <p class="mb-0 text-inline">
    To learn more and join the team, submit an application!
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeRPLIA5PgOV-SNpm2I2hIbA7LH02FUSfX-xmwZtmE8kA6sug/viewform" class="btn btn-sm btn-info ml-2">
      Apply here <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </p>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
