<div class="alert alert-success alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">Review Drive - Enter to win!</h4>
  <p>
    Our Fall 2020 review drive is from 12/7 til 12/25.
    During this time, any review written gives you one entry
    into our sweepstakes for <b>four $25 gift cards!</b>
  </p>
  <hr>
  <p class="mb-0">To enter, write a review for any class with the hashtag <b>#tCFfall20</b>!</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
