<div id="notification-panel" role="alert"
     class="alert alert-info alert-dismissible text-left mb-5 fade show">
  <h4 class="alert-heading">Apply to Our Team!</h4>
  <p>
    Want hands-on experience with developing a live website used by
    thousands of students like you?
    <b>theCourseForum</b> is looking for new members to join our team!
    We are recruiting for several <b>web design, marketing, and engineering</b> roles.
    No experience required!
  </p>
  <hr>
  <p class="mb-0 text-inline">
    Applications are open until <b>Monday 12/28 at midnight</b>.
    To apply or learn more, click here.&nbsp;
    <a href="tinyurl.com/tCFapply" class="btn btn-sm btn-info">
      Apply Now <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
  </p>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
