<div id="notification-panel" role="alert"
     class="alert alert-info alert-dismissible text-left fade show">
    <h4 class="alert-heading">Review Drive - Enter to win!</h4>
    <p>
        Participate in the Fall 23 Review Drive!
        From December 5th to 20th, any review written gives you one entry to win 1 of 5 <b>$25 gift cards</b>!
        <br/>
        <br/>
        For underclassmen that are not able to verify their email to make an account on our site, <a href="https://forms.gle/uZX1rpaXSJcR4JZi9">submit your reviews here</a> for the Review Drive.
        <a href="https://forms.gle/uZX1rpaXSJcR4JZi9" class="btn btn-sm btn-info ml-2">
            Go Review <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
        <br/>
        If you are having 500 Server Errors, try switching to another browser (i.e. Safari)!
    </p>
    <hr>
    <p class="mb-0 text-inline">
        To enter, write a review for any class and put the hashtag <b>#tCFfall23</b> in the description!
<!--        <a href="{% url 'new_review' %}" class="btn btn-sm btn-info ml-2">-->
<!--            Go Review <i class="fa fa-arrow-right" aria-hidden="true"></i>-->
<!--        </a>-->
    </p>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
