<div class="tcf-toolbar">
    <div class="btn-toolbar justify-content-center text-center text-md-left px-3"
         role="toolbar" aria-label="Toolbar with button groups">
        <!-- Breadcrumbs -->
        <div id="breadcrumbs" class="rounded bg-white mr-md-auto mb-3 {% if active_text %}col-md-8{% endif %}"
             role="toolbar" aria-label="Breadcrumbs">
            <ol class="breadcrumb bg-white mb-0">
                {% for text, url, active in breadcrumbs %}
                    <li class="breadcrumb-item {% if active %}active{% endif %}">
                      {% if not active %}<a href="{{ url }}">{{ text }}</a>
                      {% else %}{{ text }}{% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
          <!-- Filter buttons -->
          {% if active_text %}
          <div id="filterButtons" class="btn-group btn-group-sm ml-md-auto mb-3"
               role="toolbar" aria-label="Show/Hide All Semesters">
              <button type="button" id="hide-btn" class="btn btn-outline-primary active">{{ active_text }}</button>
              <button type="button" id="show-btn" class="btn btn-outline-primary"> {{ hidden_text }} </button>
          </div>
          {% endif %}
    </div>

    <div class="d-flex justify-content-center justify-content-md-end px-3 mb-3"
         role="toolbar" aria-label="Toolbar with button groups">
        <!-- Sorting buttons -->
        {% if sorting %}
        <div id="sortButtons" class="btn-group btn-group-sm"
             role="toolbar" aria-label="Sorting Buttons">
            <button type="button" id="number-sort-btn" class="btn btn-outline-primary active">Course ID</button>
            <button type="button" id="rating-sort-btn" class="btn btn-outline-primary">Rating</button>
            <button type="button" id="diff-sort-btn" class="btn btn-outline-primary">Difficulty</button>
            <button type="button" id="gpa-sort-btn" class="btn btn-outline-primary">GPA</button>
        </div>
        {% endif %}
    </div>
</div>
