
.container-fluid {
  background-color: var(--background-color);
}

.user_delete {
  align-items: end;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

h2, h4 {
  color: var(--basic-text-color);
  /*explicitly written to override scss file*/
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 26px;
}

.form-row {
  color: var(--basic-text-color); 
}

.card {
  background-color: var(--card-background-color);
}
