/*

Responsive breakpoints:

// xs: Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// sm: Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// md: Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// l: Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// xl: Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/

html {
    position: relative;
    min-height: 100%;
    max-width: 100vw;
}

body {
    padding-top: 70px; /* Height of fixed navbar */
    background-color: var(--background-color);
    max-width: 100vw;
}

.content {
  background-color: var(--background-color);
}

@media (min-width: 768px) {
    .content {
        width: calc(100vw - 240px);
        margin-left: 240px;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    /* background-color: #f5f5f5; */
    text-align: center;
    color: var(--background-color);
    background-color: #172248;
    padding-top: 15px;
}

footer > .row {
    background-color: #172248;
}

.btn.btn-primary,
.btn.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn.btn-outline-primary {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn.btn-primary:hover,
.btn.btn-outline-primary:hover {
  color: white;
  background-color: #d1420d;
  border-color: #d1420d;
}

.btn:not(:disabled):not(.disabled).active.focus,
.btn:not(:disabled):not(.disabled).active:focus {
  box-shadow: none;
}

.form-control {
  background-color: var(--background-color);
  color: var(--background-color);
  border-color: transparent;
}

.form-row {
  margin: 0.5rem;
}
