/*

Responsive breakpoints:

// xs: Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// sm: Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// md: Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// l: Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// xl: Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/

:root {
  --sidebar-width: 7rem;        /* Width of sidebar is fixed */
}

html {
    position: relative;
    min-height: 100%;
    max-width: 100vw;
}

body {
    padding-top: 70px; /* Height of fixed navbar */
    background-color: var(--background-color);
    max-width: 100vw;
}

.content {
  background-color: var(--background-color);
}

@media (min-width: 768px) {
    .content {
        width: calc(100vw - var(--sidebar-width));
        margin-left: var(--sidebar-width);
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    text-align: center;
    color: var(--background-color);
    background-color: #172248;
    padding-top: 15px;
}

footer > .row {
    background-color: #172248;
}

/* For text on small screens */
@media (max-width: 900px) {
  h1{ font-size: 32px; }
  h2{ font-size: 26px; }
  h3{ font-size: 22px; }
  h4{ font-size: 20px; }
  html{ font-size: 14px; }
}

/* For buttons */
.btn.btn-primary, .btn.btn-outline-primary {
  color: white;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: white;
  background-color: #AC451E !important;
  border-color: #AC451E !important;
}

.btn.btn-outline-primary {
  color: white;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn.btn-primary:hover,
.btn.btn-outline-primary:hover {
  color: white;
  background-color: #AC451E !important;
  border-color: #AC451E !important;
}

.btn:not(:disabled):not(.disabled).active.focus,
.btn:not(:disabled):not(.disabled).active:focus {
  box-shadow: none;
}

/* For forms */
.form-control {
  background-color: var(--background-color);
  color: black;
  border-color: transparent;
}

.form-row {
  margin: 0.5rem;
}

/* Change tooltop color */
.tooltip-inner {
    background-color: var(--dark-color) !important;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: var(--dark-color) !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: var(--dark-color) !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: var(--dark-color) !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: var(--dark-color) !important;
}

/* Change slider color */
.custom-range::-webkit-slider-thumb {
  background: var(--accent-color);
}
.custom-range::-moz-range-thumb {
  background: var(--accent-color);
}
.custom-range::-ms-thumb {
  background: var(--accent-color);
}
