/*

Responsive breakpoints:

// xs: Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// sm: Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// md: Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// l: Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// xl: Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/

html {
    position: relative;
    min-height: 100%;
    max-width: 100vw;
}

body {
    font-family: 'Lato', sans-serif;
    padding-top: 70px; /* Height of fixed navbar */
    background-color: #EBEBEB;
    max-width: 100vw;
}

.content {
  background-color: #EBEBEB;
}

@media (min-width: 768px) {
    .content {
        width: calc(100vw - 240px);
        margin-left: 240px;
    }
}

a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: #db4929;
}

ul {
    padding: 0;
    list-style-type: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height: 30px; /* Vertically center the text there */
    /* background-color: #f5f5f5; */
    text-align: center;
    color: #EBEBEB;
    background-color: #172248;
    padding-top: 15px;
}

footer > .row {
    background-color: #172248;
}


/* Utility classes */
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
