/* 
    Whenever we need to notify the user, we can create a
    Django message which displays once in the form of a small
    popup and disappears.

    https://docs.djangoproject.com/en/3.0/ref/contrib/messages/
*/

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.messages > .message {
    position: relative;
    width: fit-content;
    text-align: center;
    background-color: #db4929;
    color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: default;
    visibility: visible;
    -webkit-animation: fadeOut 0.5s;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: fadeOut 0.5s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
    from {opacity: 1; top: 0px} 
    to   {opacity: 0; top: -10px;}
}

@keyframes fadeOut {
    from {opacity: 1; top: 0px;}
    to   {opacity: 0; top: -10px;}
}