/* 
    We can use the Django messages framework to notify the user
    whenever something important happens. For example, successfully logging out!
    This css is used to format and animate any new Django messages that are
    triggered in the application.

    https://docs.djangoproject.com/en/3.0/ref/contrib/messages/
*/

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.messages > .message {
    position: relative;
    width: fit-content;
    text-align: center;
    background-color: #db4929;
    box-shadow: 3px 3px 1.5px rgb(23, 34, 72);
    color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: default;
    visibility: visible;
    opacity: 0;
    -webkit-animation: fadeIn 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-direction: alternate;
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@-webkit-keyframes fadeIn {
    0%   {opacity: 0; top: -10px;}
    15%  {opacity: 1; top: 0px;}
    50%  {opacity: 1; top: 0px;}
    75%  {opacity: 1; top: 0px;}
    100% {opacity: 1; top: 0px;}
}

@keyframes fadeIn {
    0%   {opacity: 0; top: -10px;}
    15%  {opacity: 1; top: 0px;}
    50%  {opacity: 1; top: 0px;}
    75%  {opacity: 1; top: 0px;}
    100% {opacity: 1; top: 0px;}
}
