/*
    Any css that involves the navbar should go in this file!
    This way things are kept insolated and de-coupled from one
    another, making components more maliable and maintainable.
*/

.navbar {
    max-width: 100vw;
    height: 70px;
}

.tCF {
    width: fit-content;
    height: calc(70px - 8px - 8px);
    padding: 0px;
    margin: 0px;
    border-radius: calc(.25rem - 1px);
}

.tCF:hover {
    background-color: rgba(140, 151, 161, 0.2);
}

.tCF:active {
    background-color: rgb(140, 151, 161, 0.4);
}

.tCF:focus {
    background-color: rgb(140, 151, 161, 0.4);
}

@media (min-width: 768px) {
    .tCF {
        width: calc(240px - 16px);
        height: calc(70px - 8px - 8px);
        padding: 0px;
        margin: 0px;
    }
}

.logo {
    width: 64.80px;
    height: calc(70px - 8px - 8px);
    alt: "tCF";
}

.navbar .logo-search {
    width: 100px;
    margin-right: 1rem;
}

@media (min-width: 400px) {
    .navbar .logo-search {
        width: auto;
    }
}

@media (min-width: 400px) {
    .navbar .search {
        width: 100%;
    }
}
