body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  height: calc(100vh - 70px); /* Subtract height of navbar */
  margin-left: -15rem;
  -webkit-transition: margin-left 0.25s;
  -moz-transition: margin-left 0.25s;
  -o-transition: margin-left 0.25s;
  transition: margin-left 0.25s;
  background-color: var(--main-color);
  position: fixed;
  z-index: 9999;
}

#sidebar-wrapper .list-group {
  width: var(--sidebar-width); /* From base.css */
  margin-top: 2rem;
}

#sidebar-wrapper .list-group hr {
  border-color: white;
  margin-bottom: 0rem;
}

#sidebar-wrapper .list-group-item,
.footer,
.footer a {
  background-color: var(--main-color);
  color: white;
  border: 0rem;
}

#sidebar-wrapper .list-group-item.active,
#sidebar-wrapper .list-group-item:hover {
  color: white;
  border-color: var(--main-color);
  filter: brightness(125%);
}

#sidebar-wrapper .icon-section {
  width: 100%;
  padding: 0rem 0.5rem 1rem;
}

#sidebar-wrapper .icon-wrapper {
  display: inline-block;
  width: 33%;
}

#sidebar-wrapper .icon-wrapper i {
  font-size: 1.25rem;
}

#sidebar-wrapper .left-icon {
  float: left;
}

#sidebar-wrapper .right-icon {
  float: right;
}

#page-content-wrapper {
  min-width: 100vw;
}

/* Open sidebar if toggled */
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.modal {
  z-index: 10000;
}
