/* tCF Style Classes */

/*************COLORS VARS**************/

/* Use these variables in CSS stylesheets */
:root {
  --main-color: #274f97; /* Indigo/Dark blue */
  --secondary-color: #4077c4;
  --accent-color: #d75626; /* Orange */
  --dark-color: #545454; /* Dark grey, for headers/buttons */
  --shadow-color: #a6a6a6; /* Medium grey, used for shadows */
  --shaded-color: #cfcfcf; /* Medium light grey, used for shading */
  --background-color: #ebebeb; /* Light grey, used for backgrounds */
  --overall-background-color: #faf8f9;
  --card-background-color: #ffffff; 
  --navbar-color: #ffffff;
  /* newly added */
  --basic-text-color: #212529;
  --accent-text-white: #ffffff; /* White text color */
  /* changes the border color of the search bar on landing page */
  --input-border-color: #DEE2E6;
  /* changes the color of the title and icons on the landing page */
  --title-color: #274f97;
  --filter-input-background-color: white;

  /* #f8f9fa is the og background color styled by .bg-light in _background_variant.scss */
  /* Note: Can use Bootstrap "light" color and white color */
}

/* only main-color (tcf blue) and accent-color (tcf organge) are being utilized by the landing page */
body.dark-mode {
  /* --main-color: #ffffff;
  --secondary-color: #4873B7;
  --accent-color:  #d75626;
  --dark-color: green;
  --shadow-color: #ffffff;
  --shaded-color: #333333;
  --background-color: black;
  --overall-background-color: black;
  --navbar-color: #333333;
  --h1-text-color: #ffffff;
  --h4-card-title-color: #ffffff;
  --p-card-text-color: white;
  --card-background-color: #333333;
  --input-color: #333333; */

/* Added updated variables names */
  --background-color: black; /* Dark background color */
  --card-background-color: #333333;  /* Dark card background */
  --input-background-color: #545454;  /* Dark input background */
  --filter-input-background-color: #545454;  /* Dark input background */
  --input-text-color: #a6a6a6;   /* Light text in inputs */
  --accent-text-color: #d75626; /* Accent color for dark mode */
  --basic-text-color: white;    /* White text color */
  --icon-color: white; /* Light icon color */
  --input-border-color: #5a5c5d; /* Lighter border color for inputs */
  --button-bg-color: #1e1e1e; /* Darker button background */
  --landing-page-background-color: black; /* replace tcf-blue as tcf logo text color */
  --title-color: white; /* make title and icons on landing page white */
}

/*************DEFAULT STYLES**************/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /* Default heading font: Lato (others are fallbacks) */
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Chai: initially didn't have a color element, this color element overrides color in _reboot.cscc */
  /* color: var(--h4-card-title-color);  */
}

h1, .h1 {
  color: var(--basic-text-color);
}

h2, .h2 {
  color: var(--basic-text-color);
}

h4, .h4 {
  color: var(--basic-text-color);
}

h3, .h3 {
  color: var(--basic-text-color);
}

h5, .h5 {
  color: var(--basic-text-color);
}

h6, .h6 {
  color: var(--basic-text-color);
}

label {
  color: var(--basic-text-color);
}

body {
  /* Body text font: Open Sans */
  font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
}
a:hover,
.hover-tcf-orange:hover {
  color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}
ul {
  padding: 0;
  list-style-type: none;
}

/*************UTILITY CLASSES**************/

/* To remove auto blue underline formatting from an anchor tag */
.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  all: unset;
  text-decoration: inherit;
}

/*************COLOR CLASSES**************/
/* Use these utility classes in HTML tag class styling  */

/* Main color: Indigo/Dark blue */
.text-tcf-indigo {
  color: var(--title-color);
}

.bg-tcf-indigo {
  /* background-color: var(--main-color); */
  /* Chai: this banner color should be tcf blue no matter if theme is light or dark */
  background-color: #274f97;
}
.border-tcf-indigo {
  border-color: var(--title-color);
}

/* Secondary color: Light blue */
.text-tcf-blue {
  color: var(--secondary-color);
}
.bg-tcf-blue {
  background-color: var(--secondary-color);
}

/* Accent color: Orange */
.text-tcf-orange {
  color: var(--accent-color);
}
/* colors specifically the 'Meet the full team' button */
.bg-tcf-orange {
  background-color: var(--accent-color);
}

/* Dark accent color: Chalkboard */
.text-tcf-chalkboard {
  color: var(--dark-color);
}
.bg-tcf-chalkboard {
  background-color: var(--dark-color);
}
.border-tcf-chalkboard {
  border-color: var(--dark-color);
}

.text-tcf-shadow {
  color: var(--shadow-color);
}
.bg-tcf-shadow {
  background-color: var(--shadow-color);
}
.border-tcf-shadow {
  border-color: var(--shadow-color);
}

.text-tcf-background {
  color: var(--background-color);
}
.bg-tcf-background {
  background-color: var(--background-color);
}
.border-tcf-background {
  border-color: var(--background-color);
}

/* OVERRIDES scss stylings */
/* Chai: background color on landing page is being styled by .bg-light in _background-variant.scss, has to have !important to override the !important in the scss */
.bg-light {
  background-color: var(--landing-page-background-color) !important;
}

/* Chai: card background color is being styled by .card in _card.scss; color will be card-background-color when in dark-mode */
.card {
  background-color: var(--card-background-color) !important;
}
.card.bg-tcf-orange {
  background-color: var(--accent-color) !important;
}


p {
  color: var(--basic-text-color);
  color: var(--basic-text-color);
}

.form-control {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: var(--input-border-color);
}

.form-control:focus {
  background-color: var(--input-background-color);
  color: var(--basic-text-color);
}

.form-control::placeholder {
  color: var(--input-text-color);
}

/* overrides the input:-internal-autofill-selected setting from User Agent Stylesheet */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--input-background-color) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.forcontrol:disabled {
  background-color: var(--background-color);
}

/* originally in borders.scss */
.border {
  border: 0.5px solid var(--input-border-color) !important;
}

.modal-body {
  background-color: var(--background-color);
}

.modal-header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--input-border-color);
}

.modal-footer {
  background-color: var(--background-color);
  border-top: 1px solid var(--input-border-color);
}

.dropdown-menu {
  background-color: var(--background-color);
}

.dropdown-item {
  color: var(--basic-text-color);
}

.dropdown-divider {
  border-top: 1px solid var(--input-border-color);
}

/* styles the input range bar on the write review page */
input[type="range"] {
  width: 100%;
  height: 6px;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: var(--input-background-color); /* Track color */
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: var(--accent-color);
  border-radius: 50%;
  margin-top: -5px; /* aligns thumb with the track */
  cursor: pointer;
}



/* Note: Can use Bootstrap "light" color
  .text-light
  .bg-light
  .border-light
*/
