{% extends "base/base.html" %}
{% load static %}

{% block title %}Browse - theCourseForum{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'browse/browse.css' %}"/>
{% endblock %}

{% block content %}
    {% comment %} <div class="container">
        {% include "../common/notification.html" %}
    </div> {% endcomment %}
    <div class="browse container">
        <!-- Banner(s) go here: -->
{#        {% include "../common/application_banner.html" %}#}
    
        {% include "../common/leaderboard_ad.html" with ad_slot="9691204298" %}

        <!-- Browse page content -->
        <h2 class="font-weight-light mt-4">Browse by Department</h2>
        <div class="schools text-left">

            {% include "browse/school.html" with school=CLAS %}

            {% include "browse/school.html" with school=SEAS %}

            {% for school in other_schools %}
                {% include "browse/school.html" with school=school %}
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".card-header").forEach(header => {
            header.addEventListener("click", function () {
                let schoolId = this.id.replace("header-", "").trim(); // Extract school ID
    
                let icon = document.getElementById(`chevron-${schoolId}`); // Find the icon
    
                if (icon) {
                    icon.classList.toggle("fa-chevron-down-white");
                    icon.classList.toggle("fa-chevron-up-white");
                } else {
                    console.warn("Icon not found for school ID:", schoolId);
                }
            });
        });
    });    
</script>
{% endblock %}