{% for s in schools|dictsort:"name" %}
  <div class="school card mb-3">
    <div class="card-header pt-3" data-toggle="collapse"
    data-target="#school-{{ forloop.counter }}">
        <h3 class="card-title mb-0">{{s}}</h3>
    </div>
    <div class="card-body collapse" id="school-{{ forloop.counter }}">
        <ul class="department-list">
            {% for d in s.department_set.all|dictsort:"name" %}
                <li>
                    <a href="{% url 'department' dept_id=d.pk %}">{{d}}</a>
                </li>
            {% endfor %}
        </ul>    
    </div>
  </div>
{% endfor %}
