{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'common/rating_card.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/show-hide.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/toolbar.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="card mb-5">
            <div class="card-header py-4">
                <h3 class="card-title">
                    {{ instructor.full_name }}
                </h3>
                {{ instructor.email }}
            </div>
            <div class="card-body">
                Average Ratings
                <div class="row">
                    <div class="col">
                        Average rating: {{ avg_rating }}
                    </div>
                    <div class="col">
                        Average difficulty: {{ avg_difficulty }}
                    </div>
                </div>
            </div>
        </div>
        {#        <h3>[Department]</h3>#}
        {#        {% for course in courses %}#}

        {#        {% endfor %}#}
        {% if courses %}
            {% for dept, dept_data in courses.items %}
                <h3>{{ dept }}</h3>
                {% for course in dept_data.courses %}
                    <div class="card mt-3">
                        <a href="{% url 'course' course_id=course.id %}">
                            <div class="card-header py-4">
                                {{ course }}
                            </div>
                        </a>
                        <div class="card-body">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-user"></i>
                            <i class="fas fa-skull-crossbones"></i>
                            <i class="fas fa-thumbs-up"></i>
                            <i class="fas fa-hourglass-half"></i>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}


{% block js %}

{% endblock %}
