{% extends "base/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'common/rating_card.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/show-hide.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/toolbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'instructor/instructor.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="card">
            <div class="card-header py-4">
                <h1 class="card-title">
                    {{ instructor.full_name }}
                </h1>
                {{ instructor.email }}
            </div>
            <div class="card-body">
                <h2 class="h6">Average Ratings</h2>
                <div class="mt-4 d-flex justify-content-around">
                    <p><i class="fas fa-user"></i> {{ avg_rating }}</p>
                    <p><i class="fas fa-dumbbell"></i> {{ avg_difficulty }}</p>
                    <p><i class="fas fa-thumbs-up"></i></p>
                    <p><i class="fas fa-hourglass-half"></i> {{ avg_hours }}</p>
                </div>
            </div>
        </div>
        {% if courses %}
            {% for dept, dept_data in courses.items %}
                <h2 class="mt-5 h3">{{ dept }}</h2>
                {% for course in dept_data.courses %}
                    <div class="card mt-3">
                        <a href="{% url 'course' course_id=course.id %}">
                            <div class="card-header py-4">
                                {{ course.name }}
                            </div>
                        </a>
                        <div class="card-body d-flex justify-content-around">
                            <p><i class="fas fa-star"></i> {{ course.avg_rating }}</p>
                            <p><i class="fas fa-dumbbell"></i> {{ course.avg_difficulty }}</p>
                            <p><i class="fas fa-thumbs-up"></i></p>
                            <p><i class="fas fa-hourglass-half"></i> {{ course.avg_hours }}</p>
                            <p>Last taught {{ course.last_taught }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}


{% block js %}

{% endblock %}
