{% extends "base/base.html" %}
{% load static %}

{% block title %}{{course.code}} - theCourseForum{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'common/rating_card.css' %}"/>
    <link rel="stylesheet" href="{% static 'common/show-hide.css' %}"/>
{% endblock %}



{% block content %}

    <div class="course container">
        {% include "common/toolbar.html" with breadcrumbs=breadcrumbs active_text=latest_semester hidden_text="All" %}

        <div class="instructors container-lg mt-3">
            <div class="d-md-flex align-items-baseline my-3">
                <h1 class="mr-md-3 text-nowrap">{{ course.code }}</h1>
                <h2>{{ course.title }}</h2>
            </div>

            <a data-toggle="tooltip"
               data-placement="right"
               title="Requires NetBadge Login"
               class="text-tcf-blue font-weight-bold"
               target="_blank"
               href={{ course.eval_link }}>
                Official UVA Student Evaluations
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>

            <br/>
            <br/>

            <ul class="instructor-list">
                {% for i in instructors %}
                    <li class="instructor {% if i.semester_last_taught != latest_semester %}old{% endif %}">
                        {% url 'course_instructor' course_id=course.pk instructor_id=i.pk as link %}
                        {% include "common/rating_card.html" with title=i.full_name link=link rating=i.rating difficulty=i.difficulty gpa=i.gpa last_taught=i.semester_last_taught %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="module" src="{% static 'common/bind-show-hide.js' %}"></script>

    {#initializes Bootstrap tooltip#}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
