{% extends "base/base.html" %}
{% load static %}

{% block title %}Saved Courses - theCourseForum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'common/rating_card.css' %}"/>
<link rel="stylesheet" href="{% static 'common/show-hide.css' %}"/>
<link rel="stylesheet" href="{% static 'course/user_courses.css' %}"/>
<link rel="stylesheet" href="{% static 'base/tcf-style.css' %}"/>
{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h1 class="h2 mt-2"> Saved Courses </h1>
    {% if courses %}
    <div id="courseToolbar" class="d-flex align-items-baseline">
        <p> Drag and drop to rearrange </p>
        <div id="sortButtons" class="btn-group btn-group ml-auto" role="toolbar" aria-label="Sorting Buttons">
            <button type="button" class="btn bg-white"> Sort by</button>
            <button type="button" id="number-sort-btn" class="btn btn-outline-primary">Course ID</button>
            <button type="button" id="rating-sort-btn" class="btn btn-outline-primary">Rating</button>
            <button type="button" id="diff-sort-btn" class="btn btn-outline-primary">Difficulty</button>
            <button type="button" id="gpa-sort-btn" class="btn btn-outline-primary">GPA</button>
        </div>
    </div>
    {% endif %}
    <ul id="savedCoursesList" class="course-list">
        {% if courses %}
        {% csrf_token %}
        {% for saved in courses %}
        <li class="course-card" draggable="true" id="course{{saved.id}}">
        <div class="card mt-3">
            <div class="d-flex px-3 m-3 card-header">
              <a href="{% url 'course_instructor' course_id=saved.course.id instructor_id=saved.instructor.id %}">
                  <strong>{{ saved.course }} </strong> — {{ saved.instructor.full_name }}
              </a>
              <p id="title" hidden> {{saved.course.subdepartment.mnemonic}} {{saved.course.number}} </p>
              <button class="ml-auto btn btn-sm bg-tcf-indigo text-white unsave-btn" id="unsaveCourseBtn{{saved.id}}" type="button">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  Unsave
              </button>
            </div>
            <div class="card-body">
                <ul class="row mb-0 px-3">
                    <li class="col text-nowrap">
                        <small class="text-uppercase">
                            <i class="fa fa-star"></i> Rating
                        </small>
                        <p class="h4" id="rating">
                            {{ saved.average_rating|floatformat:2 }}
                        </p>
                    </li>
                    <li class="col text-nowrap">
                        <small class="text-uppercase">
                            <i class="fa fa-dumbbell"></i> Difficulty
                        </small>
                        <p class="h4" id="difficulty">
                            {{ saved.average_difficulty|floatformat:2 }}
                        </p>
                    </li>
                    <li class="col text-nowrap">
                        <small class="text-uppercase">
                            <i class="fa fa-chart-bar"></i> GPA
                        </small>
                        <p class="h4" id="gpa">
                            {{ saved.average_gpa|floatformat:2 }}
                        </p>
                    </li>
                    <div class="col">
                        <small class="text-uppercase">
                            <i class="fa fa-calendar"></i> Last Taught
                        </small>
                        <p class="h4">{{ saved.semester_last_taught }}</p>
                    </div>
                    <div class="col-sm col-md-4">
                        <a href="#saveCourseModal{{saved.id}}" data-toggle="modal">
                        <small class="text-uppercase">
                            <i class="fa fa-sticky-note"></i> Notes
                        </small>
                        <p class="h4" id="notes{{saved.id}}">{{ saved.notes }}</p>
                        </a>
                    </div>
                </ul>
            </div>
            </li>
        {% include "course/save_course_form.html" with id=saved.id course=saved.course instructor=saved.instructor notes=saved.notes%}
        {% endfor %}
        {% else %}
        <div class="card col p-5 text-center">
            <div class="card-body">
                <h4 class="card-title">
                    No Saved Courses <i class="far fa-frown-open fa-fw"></i>
                </h4>
            </div>
        </div>
        {% endif %}
    </ul>
</div>

{% endblock %}

{% block js %}
    <script type="module" src="{% static 'department/bind-sort.js' %}"></script>

    <!-- For drag and drop, source: https://jqueryui.com/sortable/#default -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="module" src="{% static 'course/javascript/user_courses.js' %}"></script>
{% endblock %}
