{% extends "base/base.html" %}
{% load static %}

{% block title %}theBlog - theCourseForum{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}"/>
{% endblock %}

{% block content %}
    <!-- {% comment %} <div class="container">
        {% include "../common/notification.html" %}
    </div> {% endcomment %} -->

    <div class="blog container">
        <!-- Google adsense -->
        <!-- <div class="container mb-4">
            {% include "../common/banner_ad.html" %}
        </div> -->

        <!-- Browse page content -->
        <h2 class="font-weight-light">theBlog</h2>
        <div class="featured-posts">

        </div>
        <div class="all-posts">
            {% csrf_token %}

            {% for post in posts %}
        
                <div class="card shadow bg-white">
                    <div class="card-body">
                        <h1 class="card-title"> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        <p class="card-text"> {{ post.body_summary|striptags }} </p>
                        <div> {{ post.created_date }}</div>
                    </div>
                </div>
        
            {% endfor %}
                
        </div>
    </div>
{% endblock %}
