{% extends "base/base.html" %}
{% load static %}

{% block title %}theBlog - theCourseForum{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}"/>
{% endblock %}

{% block content %}
    <!-- {% comment %} <div class="container">
        {% include "../common/notification.html" %}
    </div> {% endcomment %} -->

    <div class="blog container">
        <!-- Google adsense -->
        <!-- <div class="container mb-4">
            {% include "../common/banner_ad.html" %}
        </div> -->

        <!-- Browse page content -->
        <h2 class="font-weight-light">theBlog</h2>
        <div class="featured-posts">

        </div>
        <header class="masthead text-center d-flex" id="mastheadPost">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1>
                            {{ post_detail.title }}
                        </h1>
                    </div>
                </div>
            </div>
        </header>
        
        <div id="blog">
            <p class="card-text" id="post"> {{ post_detail.formatted_markdown|safe }} </p>
            <div class="text-muted text-right" style="margin-top: 4rem"> {{ post_detail.created_date }}</div>
        </div>
    </div>
{% endblock %}
